[2019-06-04 17:10] trshafer opened #1 "Operator should be able to install from different registries and tags"
Currently knative serving release uses the registry: `gcr.io/knative-releases` and the build path: `github.com/knative/serving/cmd`. Additionally, the tag is built using a sha `sha256:1e40c99ff5977daa2d69873fff604c6d09651af1f9ff15aadf8849b3ee77ab45` instead of a tag number `0.6.0`. These fields should be customizable, so it could point to a registry of `quay.io/openshift-knative` or others.

I thi

[2019-06-04 17:23] trshafer opened #2 "Operator should validate cluster before installing knative serving"
If the cluster is not setup to support the intended version of knative it should report an error status.

When the user applies the `KnativeServing` CR,
[code]

the operator should validate that the k8s version is supported and the dependencies are available.

Possible validations:
* k8s version
* ingress
  * istio, gloo, ambassador
* cert-manager

If these requirements are not met, the operator s

[2019-06-05 22:50] trshafer opened #3 "Operator should fail if attempting to upgrade knative from N to N+2 or greater"
When the user upgrades the operator, the operator should evaluate the current version of knative and if the operator is unable to update the version one at a time, then the operator should fail the upgrade.

[2019-06-11 16:01] greghaynes opened #4 "Operator should use knative/pkg controller"
Currently the operator uses controller-runtime / operator-sdk. We should retool it on top of Knative's controller lib to more closely resemble the other Knative operators.

[2019-06-11 16:04] greghaynes commented on #3
Interesting question - how does one know what version of knative is currently installed? AFAIK we don't have anything from serving that says this

[2019-06-11 16:28] trshafer commented on #1
Still unknown:

* Should each knative deployment have a separate "tag" (or revision) or should there only be one supported tag?
* Should this config live in the `KnativeServing` CR or should it live in a ConfigMap for the Operator?

[2019-06-11 17:11] evankanderson commented on #3
There is actually an annotation in all the yaml files which gets snapped
with the release version.

On Tue, Jun 11, 2019 at 9:04 AM Gregory Haynes <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-06-11 17:24] greghaynes commented on #1
For the multiple tag question theres two use cases I wonder about:

- Someone, possibly a platform provider, wants to cut a patch release of a specific component (e.g. fix a security bug in activator). In this case the whole cluster would need to be updated as all of the image tags would have to change. Even if the tags for other components point to the same sha I think the deployments themselves

[2019-06-11 18:17] jcrossley3 commented on #3
There is a label in all the resources, e.g. https://github.com/openshift-knative/knative-serving-operator/blob/v0.6.0/deploy/resources/knative-serving-0.6.0.yaml#L6
But because it was set to "devel" in the 0.5.2 manifest, we used this instead: https://github.com/openshift-knative/knative-serving-operator/blob/master/version/version.go#L1
The operator set `KnativeServing.Status.Version` to the valu

[2019-06-12 16:21] jcrossley3 commented on #3
Possibly relevant: https://groups.google.com/d/msg/operator-framework/NkC43XyMqWc/iV4NeO0ZBQAJ

[2019-06-13 18:20] trshafer opened #5 "The serving-operator should export prometheus metrics"
This will require a creating a `Service` that exposes a metrics port similar to the knative serving controller (https://github.com/knative/serving/blob/9bcd6f482377c5c42665e7d5fad9072a180301fc/config/400-controller-service.yaml#L25)

Example service:
[code]

[2019-06-18 16:31] trshafer opened #6 "Operator should be released to gcr.io/knative-releases/github.com/knative"
Currently the ./hack/release.sh deploys to quay.io.

[2019-06-18 16:33] greghaynes opened #7 "Run smoke test via prow / per PR"
Now that we have a repo with code we need some CI :)

Create a new CI job which runs the in-tree smoke test using the GKE infrastructure.

[2019-06-18 16:35] greghaynes commented on #7
/assign @houshengbo

[2019-06-18 16:35] greghaynes opened #8 "Add prow to monitor issues / etc"
We don't have prow watching our repo at all so we can't /assign, etc

[2019-06-18 16:36] greghaynes commented on #7
hah we don't have prow watching so I can't assign (#8)

[2019-06-18 19:24] houshengbo commented on #8
It looks like we need to setup multiple prow jobs in test-infra, so that the PR can be built and verified.

[2019-06-18 19:48] houshengbo commented on #7
There are four basic tests available in test-infra, and we can trigger them by adding following into the knative config yaml.
  knative/serving-operatior:
    - build-tests: true
    - unit-tests: true
    - integration-tests: true
    - go-coverage: true

I am not sure about what the smoke tests intend to do here. Knative serving is the only module that is using smoke test as a custom job.

@greg

[2019-06-18 19:56] greghaynes commented on #7
I think integration tests would include smoke test. Maybe we can add just enough to get all of those test types passing. Then we can update tests/e2e to be able to run in our gke environment and pass under integration-tests?

[2019-06-18 20:01] houshengbo commented on #7
I think firstly we can get the framework of PR builds ready for this repo.
Then, in terms of what tests need to be added, how to set up, tear down can be added later in the scripts by our implementations.

I can start by creating presubmit-tests.sh, so that operator can get into the test framework.

[2019-06-19 09:54] yu2003w commented on #6
Could this be configured with environment variable before build?
The default value could be gcr.io.

[2019-06-19 17:27] #7 closed

[2019-06-19 21:58] houshengbo opened #15 "Apply ko to build the image for serving operator to generate the correct yaml for release"
[code]
This is how we build the image so far. We need to support image build with ko as well.

We need to port the release process of knative into our serving-operator repo.
This is the first step.

[2019-06-19 21:59] houshengbo commented on #15
/assign @houshengbo

[2019-06-19 22:12] houshengbo opened #16 "Refactor release.sh to apply the same build_release function as other knative projects"
Need to source the release.sh under knative/test-infra, so that this repo can release the same way as any other knative repo.

[2019-06-19 22:15] houshengbo commented on #15
/assign @houshengbo

[2019-06-19 22:15] k4leung4 commented on #16
/assign @houshengbo

[2019-06-19 22:25] k4leung4 commented on #16
/assign @k4leung4

[2019-06-19 22:26] k4leung4 commented on #16
/unassign @k4leung4

[2019-06-19 22:26] houshengbo commented on #15
/assign @houshengbo

[2019-06-19 22:27] houshengbo commented on #8
I think we can assign now, after the bot has the write access.

[2019-06-19 22:28] houshengbo commented on #6
/assign @houshengbo

[2019-06-19 22:30] houshengbo commented on #6
@yu2003w In terms of official release, they are all put under gcr.io/knative-releases/...
However, you can build image locally and push them anywhere you like, as long as you specify KO_DOCKER_REPO env var on your local machine.

[2019-06-19 22:31] houshengbo commented on #4
/assign @houshengbo

[2019-06-19 22:51] greghaynes commented on #8
That is what I meant by this issue - get prow listening to commands/etc

[2019-06-19 22:51] #8 closed

[2019-06-21 02:31] trshafer opened #21 "Validation Script"
## In what area(s)?

/area test-and-release

## Describe the feature
It would be helpful to have a validation script that took in a kubeconfig and gave a pass/fail or likelihood of passing if knative could be run on the cluster. The script would be run by a cluster admin and validate that the kubernetes cluster is properly setup to support knative.

It would be run like: `validate-cluster.sh --kub

[2019-06-21 08:53] yu2003w commented on #21
I would like to work on this item.

[2019-06-21 16:34] #6 closed

[2019-06-21 16:34] #15 closed

[2019-06-21 16:34] #16 closed

[2019-06-21 19:52] ilackarms opened #25 "support for Gloo?"
hi there! recently discovered this project and it looks really cool.

solo.io implemented a reconciler for clusteringress (knative serving's integration point for proxies) to integrate our api gateway/ingress [Gloo](github.com/solo-io/gloo).

Gloo is actually a viable alternative to Istio as an installation option for `serving`  https://github.com/knative/docs/blob/master/docs/install/Knative-with

[2019-06-21 20:43] greghaynes commented on #25
Right now the operator is tied to istio. We agreed early on though that we do not want to manage or require a data plane as part of this operator and we expect users will need to do some pre-configuration to bring their own.

Given this I'd expect there shouldn't be a need to add things to the operator for Gloo support but rather remove our istio assumptions.

[2019-06-21 20:56] houshengbo commented on #21
/assign @yu2003w

[2019-06-21 20:57] houshengbo commented on #21
@yu2003w Are u a member of Knative? Why cannot I assign it to you?

[2019-06-21 21:36] greghaynes opened #27 "Move serving API"
Before we add much more code we should nail down our API. Compiling thoughts on what it should look like here:

- Make our own api version domain (don't use serving.knative.dev). operators.knative.dev?
- Rename KnativeServing type to Serving.
- I think the internal spec is fine to build off, agree?

[2019-06-21 22:10] trshafer opened #30 "Add back e2e tests that were commented out"
They were commented out in #29

[2019-06-21 22:24] trshafer commented on #30
/assign

[2019-06-22 02:36] houshengbo opened #32 "ko apply -f config/ failed with the following error, for the pod knative-serving-operator-755f4687d7-chtjn"
[code]

[2019-06-22 04:16] yu2003w commented on #21
@houshengbo I'm not member of knative.

[2019-06-23 18:24] evankanderson commented on #25
Additionally, it may be useful to have a Gloo operator as well to get Gloo
installed successfully in the cluster.

I'm not sure whether everyone agrees with this, but my preference would be
for the operator to be able to detect the presence of compatible routing
layers (Istio/Gloo/etc), and automatically select the correct one. Manual
configuration would still be available for the cases where the

[2019-06-24 15:44] ilackarms commented on #25
if the operator could simply install Knative components without additionally installing or requiring istio, that would be ideal. whatever an outside/community opinion is worth, +1 to detection

[2019-06-24 22:53] houshengbo commented on #27
What about operator.serving.knative.dev?
We will probably have  operator.eventing.knative.dev in future. Shall we use the template
operator.<knative-module-name>.knative.dev?

[2019-06-24 22:56] houshengbo commented on #21
@yu2003w You definitely need to join the knative community as a member. However, you can start working on it anyhow

@k4leung4 @greghaynes Since we folks have gone the process of proposing knative member before, could you propose @yu2003w as a member of knative? I can be another member proposing @yu2003w if needed.

[2019-06-24 23:00] k4leung4 commented on #27
+1 for what @houshengbo suggested.

being able to differentiate between the different Knative components will be relevant once they are ready for operators.

[2019-06-24 23:39] jcrossley3 commented on #27
We struggled with this internally: https://github.com/openshift-knative/knative-serving-operator/issues/17
And as the comments in there suggest, I think it's worth it to consider the effects the name will have on UI's.
Personally, because "operator" is already such an overloaded term, I think calling the custom resource that the operator watches "operator" will be confusing. To me, the word "opera

[2019-06-25 17:57] #30 closed

[2019-06-26 09:30] yu2003w commented on #21
validation scripts check following items:
1,  k8s cluster version
2, Istio version and following services deployed
    cluster-local-gateway
    istio-ingressgateway
3, cert manager installed

[2019-06-26 18:15] trshafer commented on #32
@houshengbo is this now resolved by merging in #23 and #37?

[2019-06-26 18:31] trshafer opened #39 "Discussion: Operator cli installation steps"
There are two fundamental pieces to consider:
1. Ease of installation. From the [2019-06-24 meeting notes](https://docs.google.com/document/d/1DoCG0VGZ0_Nj84Ci443bEefSOnJAWVDXUbcYR-viVfY/edit#heading=h.g130s4kmuni6): "Plain install, it should just work"
2. Ease of customization. Having the operator just work when installed, might lead to unexpected results if the proper upfront customization isn't

[2019-06-26 18:44] greghaynes commented on #21
Thanks for working on this. What do we think about rather than a shell script we make this go code which our operator can run? I expect we will want our operator to perform checks like this as part of normal operation and it will be difficult to bake in a shell script which it runs.

[2019-06-26 19:42] greghaynes commented on #39
Do we know of any examples of operators performing the CRD installation themselves? My cursory googling indicated most operators seem to follow option 4 which, IMO, is better than the current design if we always create a default install when no CR exists. Mainly, I think its a must that a user can prevent the operator from starting installation until they have provided their desired configuration.

[2019-06-26 20:23] jcrossley3 commented on #39
FWIW, we used to follow option 4, and I don't disagree that it can lead to a less "surprising" experience, but our internal user feedback said it was too complicated to install both the operator and the custom resource. :man_shrugging:

[2019-06-26 20:49] greghaynes commented on #39
ISTM if we want to simplify that install process we could require users to set a flag on the CR which enables the installation. i.e. the controller can install both the CRD and CR but then a user has to set enable: true on the CR before the controller actually does anything.

[2019-06-27 02:32] yu2003w commented on #21
Operator should perform the checks before installing Knative Serving.
Does operator need to check the conditions such as ingress gateway periodically after knative serving installed?
Does operator support to install serving with Gloo preinstalled rather than istio?

[2019-06-27 15:50] trshafer commented on #21
Yes. I am open to the idea of updating the `KnativeServing` CRD to add the desired dependency configuration. @houshengbo  @greghaynes and @trshafer jcrossley3

Something like this?

[code]

I don't think it's necessary for the operator to be continually checking conditions for ingress gateway. Actually the more I think about this, I think it might make sense for the operator to be in a `caution` s

[2019-06-27 17:28] bbrowning commented on #39
Another thing that influenced the choice of option 1 that we have today is the idea that users should get a working setup out of the box with zero config. And, that users should be able to change that setup as desired as a "Day 2" task. The goal being to eliminate having to make configuration choices from the outset just to get a working cluster AND ensuring that no configuration choice (whether b

[2019-06-27 17:32] bbrowning commented on #39
I will also say that if it becomes possible to run multiple Knative control planes in a single cluster, then Option 4 would become my preference. However, since that is not possible today, Option 1 is my preference purely from an ease-of-install standpoint. Although I'd say we could really get some hybrid of Option 1 and Option 3 where there's a single `kubectl apply` command to install Knative Se

[2019-06-28 04:23] nimakaviani commented on #39
Looks like [Weaveworks Flux's Helm Operator](https://github.com/weaveworks/flux/blob/master/site/helm-integration.md) settles on Option 2. Particularly [here](https://github.com/weaveworks/flux/tree/ff93ae039b3a5ecd1107f20593d6a369824c5805/deploy-helm) where it applies the operator and the CRD but leaves the CR (which can involve version selection and other tuning) to the user .

I have to admit O

[2019-06-28 18:23] trshafer opened #40 "Discussion: Installation of monitoring"
Should the operator be responsible for updating the prometheus config, such as https://github.com/knative/serving/blob/befc0822427d7c6a712e73538d98444bf37aaeb3/config/monitoring/metrics/prometheus/100-prometheus-scrape-config.yaml

[2019-06-28 19:53] houshengbo commented on #21
@greghaynes Per your comments, instead of running scripts to validate. We can use the kind `job` to run commands for the validations, like the following pods in istio:
[code]
We can have a pod named "knative-serving-operator-dependency-validation" running the validation one by one. `Completed` means the validation has passed. If it fails, we can either try to fix it, or log the error message. Any

[2019-06-28 21:22] evankanderson commented on #39
I'd like to agree with bbrowning's points in https://github.com/knative/serving-operator/issues/39#issuecomment-506438597

(emphasis added)

It's highly unlikely that anyone will get the correct settings "out of the box" when they install the operator; in particular, use of the software will shift over time (either due to scaling or additional requirements), so correct settings for day 30 will not

[2019-06-28 21:30] trshafer commented on #39
If we support Option 1, does that also mean we support a way to install the operator without it automatically installing knative-serving? Or is the idea that if the operator is installed, then knative should be installed or the operator is in an ERROR state.

[code]

[2019-06-28 21:50] evankanderson commented on #40
Perhaps it would make sense to have the observability components as a separate operator, which serving has a recommended dependency on?

[2019-06-28 23:46] evankanderson commented on #1
@yu2003w are you suggesting a single Kubernetes cluster where different nodes have different architectures?

I'm not sure how common that is -- do you have pointers on how that is handled on baseline Kubernetes?

[2019-06-29 00:00] evankanderson commented on #39
IIUC (and I might be missing something), "install the operator" actually encompasses all of the following (we've just added a turtle to the middle of the stack):

1. Defining a "knative-operator" custom resource type (installing a CRD)
2. Installing a controller for the "knative-operator" custom resource type
3. Creating an instance of the "knative-operator" custom resource

It seems like a suffic

[2019-06-29 22:03] greghaynes commented on #39
Technically I think having a user updating an existing knative installation would work but I think there are some practical issues that come up:

 - Installing knative on a clean environment is potentially resource expensive. I think about image pulldown specifically, in some environments such as a CI its really nice to not waste this kind of bandwidth. Yes, you could work around that by firewalli

[2019-07-01 18:10] nimakaviani commented on #39
+1 to this:

[2019-07-01 21:12] houshengbo commented on #32
@trshafer Thx,
this issue was closed by the PR #23.

[2019-07-01 21:12] #32 closed

[2019-07-01 21:14] houshengbo opened #43 "Add the coverages of unit tests, integration tests and build tests."
We have already set up the PR builds of unit tests, integration tests and build tests. Then, we need to write unit tests AMAP, identify the use cases of integration tests, and make sure the build test can verify the go code.

[2019-07-01 21:14] houshengbo commented on #43
/assign @houshengbo

[2019-07-01 21:27] houshengbo commented on #4
We need to first generate the client code for the knativeserving resource under pkg/api.
Then, rewrite both of the controller package and main.go about how to create & start the controller.

[2019-07-02 10:11] yu2003w commented on #1
@evankanderson Originally I want to push images of different architectures into same registry. Then   setup k8s cluster for different arch to conduct automation tests.
Now I think using ${ARCH} in sub level of repositories as docker hub does.

[2019-07-03 14:34] yu2003w commented on #21
Do we need to run all validation tasks in one job and check error message to determine which failed? Or is validation divided into several jobs?

[2019-07-03 15:07] jcrossley3 commented on #21
What value do we get from the additional complexity of a separate job and possibly a configmap when we already have an operator and a CRD? I think we agreed in the recent WG meeting that the best way to communicate the status of the installation (including any missing deps) is through the status field of the custom resource. And I think the best way to do that is by having the operator invoke any

[2019-07-03 22:15] #1 closed

[2019-07-04 00:12] trshafer opened #50 "KnativeServing CR should be able to override istio selector"
Currently the knative-ingress-gateway is hardcoded to `ingressgateway`: https://github.com/knative/serving/blob/619115aa63ea29272c8c4f13d37a3eb2317e4cba/config/202-gateway.yaml#L12.

This should be configurable in the `KnativeServing CRD`.

Proposal
[code]

Is it important for this proposal to encompass the ability to select which ingress to use?

[2019-07-05 06:21] nak3 opened #51 "operator-sdk up local fails to start"
`$  operator-sdk up local --namespace=""` gets following error recently.

[code]

[2019-07-05 13:04] jcrossley3 commented on #51
Thanks for the issue, @nak3 , but the plan is to migrate away from operator-sdk in favor of knative's own controller conventions, so this will break for many other reasons soon. :smile:
In anticipation of that, I added a script in https://github.com/knative/serving-operator/pull/48 for running outside the cluster. We should be able to keep it working even after removing operator-sdk.

[2019-07-06 03:58] nak3 commented on #51
I see. Thank you @jcrossley3 ! Then, I am looking forward to https://github.com/knative/serving-operator/pull/48 :+1:

[2019-07-08 16:11] yu2003w commented on #21
Thanks for the comments. I will try to update CRD and send PR later this week.

[2019-07-08 18:44] evankanderson commented on #21
A few comments on script vs-CRD:

* Being able to run these on an ongoing basis would be great. This is probably pro-CRD.
* There are a set of getting-started problems that may be difficult to diagnose which happen before the CRD and operator are running on the cluster. Some examples (these are mostly fixed, but there may be others):
  * Calling role does not have sufficient RBAC ([this is a sampl

[2019-07-08 18:50] houshengbo opened #57 "Missing pkg/client/injection/"
In order to generate injection, we need to add   ${KNATIVE_CODEGEN_PKG}/hack/generate-knative.sh “injection”
but we have the issue with the script update-codegen:
[code]
After adding revision = “d49915945c0f6d4b2f04a34cdf043182e04c443a” for contrib.go.opencensus.io/resource, it popped up that
[code]
so add rakyll in toml as well.

[2019-07-08 20:56] evankanderson opened #59 "Support uninstall?"
See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/knative-users/zTFgqHFuztg/-Az7xBfZAQAJ

[2019-07-08 20:56] evankanderson commented on #59
/kind feature-request

[2019-07-08 21:00] trshafer commented on #59
I believe deleting the `KnativeServing` CR will delete the resources in the serving.yaml, however it will not delete knative-build or istio work. I'll double check on deleting the CR.

[2019-07-08 21:45] jcrossley3 commented on #59
Yes, @trshafer is correct. All of the namespace-scoped resources in the upstream manifest have their owner reference set to the `KnativeServing` CR, so deleting that should trigger garbage collection to delete all of the k-s resources. As long as the operator is running at the time the CR is deleted, all of the cluster-scoped resources will be deleted as well. k8s doesn't allow cluster-scoped reso

[2019-07-08 21:50] trshafer commented on #59
Thanks @jcrossley3

[2019-07-08 22:22] #51 closed

[2019-07-09 02:23] houshengbo opened #60 "knative/pkg/ or knative.dev/pkg only supports version of kubernetes-1.12.x, not 1.13.x"
We have applied the following dependencies in operator:
[code]
However, we will hit the issue along the line like
https://github.com/knative/pkg/blob/master/client/clientset/versioned/typed/authentication/v1alpha1/fake/fake_policy.go#L122,
when we add the reconciler into this repo.

Error logged when I run the test cases:
[code]

One solution to this issue: manually edit the code under vendor/knat

[2019-07-09 09:15] vincent-pli opened #61 "Stop automatic create cr"
After `operator` installation, it will create `cr` automatic if it not existed.
So if I want to customize the `cr`, for example, add the `Registry` attribute, what should i do?
Remove the original `cr` and create again?

So could we add a `flag` to let customer decide if automatic create or not.

[2019-07-09 13:23] jcrossley3 commented on #61
You should be able to edit/patch the CR and the operator will detect that it changed and re-apply the deployments to pick up your desired images.

No doubt this behavior will evolve and I expect we'll do away with the auto-create. You can follow the design discussion here: https://github.com/knative/serving-operator/issues/39

[2019-07-09 14:19] vincent-pli commented on #61
@jcrossley3  thanks.

[2019-07-09 18:21] trshafer commented on #50
/assign

[2019-07-09 18:33] jcrossley3 commented on #50
@bbrowning any thoughts on this?

[2019-07-09 18:50] k4leung4 commented on #60
Chatted with @mattmoor and while there is intent to upgrade knative/pkg to 1.13, it might take a bit of time as there are changes that needs time to resolve.
If you are willing to do the work, great, if not, we may have to take the patching vendor dir route.

[2019-07-10 00:37] vincent-pli commented on #39
I think a `flag` disable or enable the `cr` automatic installation is necessary.
Think about case of private cluster, customer must define the `registry` before `cr` creation.
can not image everything works OOB

[2019-07-10 00:37] #61 closed

[2019-07-10 16:03] trshafer commented on #39
@vincent-pli The current flow (Option 1) supports this flow. The user creates the `KnativeServing` CRD, then creates the `KnativeServing` CR with a custom registry configuration. Then they finally apply the operator yaml. The operator will first look for a `KnativeServing` CR and use that instead of creating a new one. An `enabled` flag is useful if the user wants to be able to install the operato

[2019-07-10 16:29] houshengbo commented on #60
@k4leung4 Thx.
There are something else I found regarding downgrading to 1.12.x.

There are currently two pakcgaes: "github.com/operator-framework/operator-sdk" and "github.com/jcrossley3/manifestival", hindering us from doing that.

We have to go back to v0.4.1 for github.com/operator-framework/operator-sdk to pin to kubernetes 1.12.x, which is a commit in Jan, 2019.

For "github.com/jcrossley3/m

[2019-07-10 16:47] jcrossley3 commented on #60
I see supporting `operator-sdk` while we transition to `knative.dev` as a nice-to-have luxury. I say rip the bandaid off!

That should be easy enough to fix. :smile:

[2019-07-10 17:49] trshafer commented on #39
If there's a flag called `no-install` or similar, should this actively delete the knative-serving resources?

One possible issue is deleting the resources also deletes the `knative-serving` namespace, which I think will delete the CR because that also exists in the `knative-serving` namespace. I need to double check this.

[2019-07-10 18:35] anniefu commented on #40
It makes sense to give observability its own operator, but we should encourage having monitoring on by making it as easy as possible to update and enabling it by default, so it should as mandatory as possible.

[2019-07-11 01:50] #57 closed

[2019-07-11 01:52] houshengbo commented on #60
In terms of the work effort, there is less hassle to patch knative.dev/pkg to accommodate 1.13.x than yo downgrade to 1.12.x.

[2019-07-11 18:38] jcrossley3 commented on #60
If it helps, I just created a `client-go` branch in the manifestival repo that replaces the controller-runtime client usage with client-go's dynamic lib. This allowed me to depend on the same version of k8s that knative-serving does: 1.12.9. I tried updating Gopkg.toml to refer to the `client-go` branch, but `dep ensure` failed with `Solving failure: package github.com/Azure/go-autorest/version do

[2019-07-12 16:55] #50 closed

[2019-07-15 15:33] houshengbo opened #71 "Replace client.Client to do the resource queries and creations"
We need to replace client.Client in controller-runtime to do the following queries:
[code]

Where we use them?
Check: https://github.com/knative/serving-operator/blob/master/pkg/reconciler/knativeserving/openshift/openshift.go#L335

or
https://github.com/knative/serving-operator/blob/master/pkg/reconciler/knativeserving/minikube/minikube.go#L42

[2019-07-15 15:50] houshengbo commented on #71
To create namespace, we do as below:
[code]

To get node, we can do as below:
[code]

[2019-07-15 16:01] houshengbo commented on #71
I suppose we need to use `DynamicClientSet` as in knative serving to access the GroupVersionKind.
Not sure of it so far.

[2019-07-15 20:54] houshengbo opened #73 "The current operator cannot install knative-serving 0.7"
I removed the istio by accident.

[2019-07-15 21:37] #73 closed

[2019-07-16 16:34] k4leung4 commented on #71
Here is an example of using the dynamic client.

https://github.com/knative/serving/blob/master/pkg/reconciler/autoscaling/kpa/scaler.go#L231

Hope this helps

[2019-07-16 16:36] houshengbo commented on #71
@k4leung4 That is for the gvr, GroupVersionResource.
We need GroupVersionKind. Not sure if they can be converted to each other. GroupVersionResourcei s the only interface available in DynamicClientSet.

[2019-07-16 21:48] evankanderson commented on #2
See also discussion in https://github.com/knative/serving/issues/87

[2019-07-16 21:48] houshengbo opened #79 "Clientset code generation may be needed to refactor ingress and egress fuctions in openshift.go"
The ingress and egress fuctions in [openshift.go](https://github.com/knative/serving-operator/blob/master/pkg/reconciler/knativeserving/openshift/openshift.go) is using client.Client to access the runtime objects configv1.Ingress and configv1.network. We are unable to refactor them to use kubeclient or dynamic client.

Shall we generate the clientset code for the resources under
[code]
in order to

[2019-07-16 21:49] evankanderson commented on #2
See also https://github.com/knative/serving/blob/master/hack/diagnose-me.sh

[2019-07-16 21:50] evankanderson commented on #2
And #75 may be related?

[2019-07-18 02:09] yu2003w opened #81 "operator should ensure all serving components are remain installed as long as CR is present"
/kind feature

**Branch:**
/master
/HEAD

**Current Behavior:**
Currently after installing Knative-serving with serving-operator, all components such as controller, activator, autoscaler and so on are deployed but not become 'available' due to some other reasons.
For example, image pull secret is missing.
Then delete the deployments in namespace knative-serving, operator will not reinstall the dep

[2019-07-18 04:48] savitaashture commented on #81
@yu2003w can you give me little more detail like where you run operator and which version.
Because i verified in openshift its working and operator able to recreate deployment if its deleted.

[2019-07-18 06:44] yu2003w commented on #81
@savitaashture I deployed serving-operator with master branch and deploy on original k8s cluster. I don't have a working openshift cluster to try now.

[2019-07-18 08:13] savitaashture commented on #81
@yu2003w to make sure i just did following steps
1. Installed minikube
2. Installed istio following https://github.com/knative/serving-operator#prerequisites
3. created
[code]
4. All deployments running in `knative-serving` namespace
[code]
5. Deleted webhook deployment then serving-operator recreated webhook
[code]

Did you follow this way or any different steps because i can see its working

[2019-07-18 11:39] yu2003w commented on #71
Perform decency validation also needs clientset to query deployment, service, pods in specified namespaces.

[2019-07-18 11:50] yu2003w commented on #21
For the dependencies, shall we also check the version?
For example, for istio, except validating ingress/cluster-local gateway working as expected, shall we check wether Istio-version is meet the requirement?
Maybe version is in a range of 1.1.3,1.1.7, 1.2.0.

[2019-07-18 18:23] trshafer commented on #21
I think so, it makes sense for knative to support a range of istio installations. Probably makes sense to be a wildcard on `patch` version. Currently the installation guide supports one version, 1.1.7: https://knative.dev/docs/install/installing-istio/#downloading-istio-and-installing-crds

[2019-07-18 18:33] trshafer opened #82 "Disable installation of certain deployments"
Some installations do not want the certain deployments, such as networking-certmanager or networking-istio.

This can be accomplished by adding additional configuration to the `KnativeServing` CRD.

## Proposal 1
Proposal 1 supports only skipping deployments. This would be look for the `networking-istio` name field of the deployment.

[code]

## Proposal 2

Another proposal is to add the ability t

[2019-07-18 18:41] trshafer commented on #82
/assign

[2019-07-19 08:07] yu2003w commented on #81
Sorry for the misleading description in the original issue. I updated the description.
I tried again and reproduced the issue.

[2019-07-19 08:18] yu2003w commented on #21
@trshafer what's your meaning of ```patch```?

[2019-07-19 16:39] trshafer commented on #21
The third number in a release: `Major.Minor.Patch`.

[2019-07-23 07:36] yu2003w commented on #21
@trshafer
How could istio/certmanager version be retrieved? From image tag or other? I need some advice.
For istio, version could be get from at least two points:
1, "productVersion" in annonation
[code]
2, image tag
now istio images are tagged with version. ``` {docker repo}/istio-galley:1.1.7```

For certmanager, it seems that image tag is the only approach to get version.
[code]
Which do you pr

[2019-07-24 08:31] yu2003w opened #87 "operator restarted due to connection to API Server not established"
/kind bug

knative-serving-operator pod always need to restart because connection is not established
when try to become leader. The detailed log as below,

[code]

[2019-07-24 08:48] yu2003w commented on #87
/assign yu2003w

[2019-07-24 09:25] yu2003w commented on #21
/assign yu2003w

[2019-07-25 08:28] yu2003w commented on #81
/assign yu2003w

[2019-07-29 14:10] houshengbo opened #92 "Failed to recreate the deployment of knative serving, after applying PR #83"
As we are undergoing the transition to use pkg/controller, the PR https://github.com/knative/serving-operator/pull/83 now brings into a failure to recreation the knative serving deployment.

After the operator installs the knative serving, we should be able to see 6 deployments available, like autoscaler, activator, etc. When we remove any of them, for example activator, by the command "`kubectl d

[2019-07-29 20:19] trshafer commented on #21
I don't think it can reliably be used from the image tag. Similarly how users can change the format of the image digest in the operator using the `KnativeServing` CRD, users may change the istio image digest.

Does this work for getting the istio version? It grabs the istio version from the environment variable in the proxy container?

ISTIO_PILOT_POD=$(kubectl get pod --selector=istio=pilot -n is

[2019-07-30 07:13] yu2003w commented on #92
I tried to fix similar problem several days ago in PR. https://github.com/knative/serving-operator/pull/89

Could we make install stage executed again rather than create the resource directly at line 21~23? https://github.com/houshengbo/serving-operator/blob/refactor-reconciler/pkg/reconciler/knativeserving/knativeserving.go#L221

Before ```return err``` in checkDeployments, status should be set t

[2019-07-30 22:30] trshafer opened #93 "Operator merges KnativeServing resource with the one in config/crds."
If the user applies a `KnativeServing` before applying the operator, the operator will smart merge the currently applied CR with https://github.com/knative/serving-operator/blob/master/config/crds/serving_v1alpha1_knativeserving_cr.yaml.

Steps to reproduce:
[code]
Apply a custom CR. For example:
[code]

Then apply the operator:
[code]

The `KnativeServing` will also include the spec from the conf

[2019-08-01 18:14] houshengbo opened #104 "Remove the limits of namespace for knativeserving"
We only support the creation of KnativeServing under knative-serving as the namespace.
We shall remove that, so that knativeserving can be created under any namespace.

[2019-08-02 01:02] anniefu commented on #93
/assign

[2019-08-02 07:32] #43 closed

[2019-08-02 09:33] yu2003w commented on #81
Fixed by PR#83

[2019-08-02 09:33] #81 closed

[2019-08-02 09:33] yu2003w commented on #87
leader election is not used any more.

[2019-08-02 17:03] #104 closed

[2019-08-02 23:39] trshafer opened #113 "Support overriding cluster-local-gateway"
This should be similar to the `knative-ingress-gateway` change

[code]

[2019-08-02 23:54] trshafer commented on #113
/assign

[2019-08-04 02:29] #113 closed

[2019-08-04 13:56] wtam2018 opened #115 "Automatically set logUrl template when openshfit-logging is installed."
Serving API exposes logUrl in Revision's Status.   logUrl can be launch to open visualization app to render logs specific to a Revision.   However, `logging.revision-url-template` needs to be set in `config-observability` (`k edit cm config-observability -n knative-serving`) before the URL is usable    An un-usable URL is shown below.

`host serving-operator]$ k get revision helloworld-8xpcn -n de

[2019-08-04 13:59] wtam2018 commented on #115
/assign

[2019-08-06 16:59] jcrossley3 opened #119 "Remove auto-install logic"
This is related to #39 but worth being in its own issue as it's a small part of the overall (expected) resolution, but an important piece to facilitate testing.

[2019-08-06 19:08] #119 closed

[2019-08-07 10:18] yu2003w commented on #21
@trshafer  Thanks a lot. I think we should rely on `ISTIO_META_ISTIO_VERSION=1.1.7` to get Istio version.

[2019-08-07 16:15] k4leung4 opened #122 "Platform specific configuration for operator"
Each platform has some amount of customization required with their installation.
It is unclear what approach is ideal to support these types of customization.

@houshengbo kindly documented some of the thoughts on this topic in this doc.

https://docs.google.com/document/d/1OtlkJ8whTgHYTz5rz0lq5mNdDGK_pakG/edit

[2019-08-07 18:17] houshengbo opened #123 "Integration test should verify if all the resoures are removed when KS is deleted"
We need to have this scenario covered, after we switch to use the branch client-go of manifestival package.

[2019-08-08 00:43] trshafer opened #124 "Support for imagePullSecrets"
knative by default does not ship with imagePullSecrets because the registry is put on gcr.io/knative-releases by default. However by supporting custom registries, the operator should also support imagePullSecrets.

https://kubernetes.io/docs/concepts/containers/images/#referring-to-an-imagepullsecrets-on-a-pod

Proposal:

[code]

[2019-08-08 08:09] yu2003w commented on #87
Serving-Operator still restarted and reported following errors,
[code]

[2019-08-08 19:09] houshengbo opened #130 "Error for PR112"
[code]

[2019-08-08 19:52] trshafer opened #131 "Placeholder issue to update docs to make operator the recommended install path"
The goal of the operator is to provide simple installation and customization for knative-serving. After the first release of the operator, the operator wg should create some alpha docs for how to use the operator to install the operator and knative-serving. When the operator is released and meets initial requirements across supported platforms, the documentation should switch to using the operator

[2019-08-08 22:23] evankanderson commented on #131
Also, we should engage with the productivity WG's test-infra-2.0 efforts to
use the operator for installing serving during e2e tests.

On Thu, Aug 8, 2019 at 12:52 PM Thomas Shafer <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-08-09 16:35] yu2003w commented on #21
@trshafer I have updated code and got Istio version from Istio-pilot code.
Currently version of cert-manager should be the image tag. Developer of cert-manager confirmed this.

[2019-08-09 23:11] trshafer opened #138 "KnativeServing options are not removed when KnativeServing CR changes"
Applying a KnativeServing with say a spec of

[code]

And then applying the spec of:

[code]

The config is not reverted. This is the same for the other config options.

I believe it is because the way the mutations happen is that they mutate the original manifest: https://github.com/knative/serving-operator/tree/e0413caae7af488613c242dda73dfd93ee4a2b97/pkg/reconciler/knativeserving/common. They n

[2019-08-13 15:25] #87 closed

[2019-08-16 19:28] #130 closed

[2019-08-16 19:29] houshengbo commented on #123
We have already resolved this issue under test/e2e tests.

[2019-08-16 19:29] #123 closed

[2019-08-16 19:30] houshengbo commented on #92
This one is not valid any more, since the new PR resolves everything: https://github.com/knative/serving-operator/pull/146

[2019-08-16 19:30] #92 closed

[2019-08-16 19:30] houshengbo commented on #79
We do not need it any longer, since I have figured out the way to refactor everything at https://github.com/knative/serving-operator/pull/146

[2019-08-16 19:30] #79 closed

[2019-08-16 19:31] houshengbo commented on #60
This issue is not valid any more, since the ultimate goal can be reached by https://github.com/knative/serving-operator/pull/146.

[2019-08-16 19:31] #60 closed

[2019-08-16 19:32] houshengbo commented on #71
We can resolved this issue with the refactoring in https://github.com/knative/serving-operator/pull/146

[2019-08-16 19:32] #71 closed

[2019-08-17 12:36] houshengbo opened #147 "Will knative.dev/pkg/logging be able to record the same contents as log of controller-runtime?"
[code]

[2019-08-19 23:25] trshafer commented on #138
/assign garron

[2019-08-20 02:10] jcrossley3 commented on #138
I'm not sure about this one. Is the expectation that all the k-s ConfigMaps will be kept in sync with the CR's `spec.config`? Because as long as it's possible for any of those ConfigMaps to be edited manually -- irrespective of the CR -- that may lead to some confusion.

[2019-08-20 04:12] trshafer commented on #138
I'm not sure what the behavior should be. This behavior is the same for the registry information and the the ingress gateway though which I think should be reverted.

[2019-08-20 17:09] houshengbo opened #148 "Support of running locally by knative/pkg shared main functions"
As @markusthoemmes used to mention that the knative/pkg shared main functions may need to add some additional implementations, to enable to the support of running locally.
What can we do to make it happen?

[2019-08-20 17:13] markusthoemmes commented on #148
That should work ootb now. I've done the necessary changes there already.

[2019-08-20 17:30] houshengbo commented on #147
If we use zap.SugaredLogger for knative/pkg, then we will lose the log info from `INFO	manifestival	`, since manifestival package uses log from controller-runtime.

How can we possible add it back, with zap.SugaredLogger?

[2019-08-21 01:17] #147 closed

[2019-08-23 17:47] anniefu commented on #93
/close

Fixed by #120

[2019-08-23 17:47] #93 closed

[2019-08-28 02:39] houshengbo opened #152 "verify the clusterrole deletion if cr is deleted."
verify the clusterrole deletion if cr is deleted.

[2019-08-28 16:20] jcrossley3 opened #154 "What does it mean to have multiple KnativeServing CR's?"
This is related to both #39 and #59

Currently, when the KS CR is deleted, everything in the upstream manifest is deleted, the ns-scoped ones by the k8s garbage collector and the cluster-scoped ones by the operator. Technically, the operator will attempt to delete the ns-scoped ones, too, gracefully handling the race condition with the GC.

This means if there are more than one KS CR in the cluste

[2019-08-28 17:16] evankanderson commented on #154
Is another option to require that the resource have a specific name, and
deny (via admission control) creating any other KnativeServing custom
objects?

On Wed, Aug 28, 2019 at 9:20 AM Jim Crossley <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-08-28 23:04] trshafer commented on #124
/assign phamill

[2019-08-29 13:16] #152 closed

[2019-08-29 15:57] trshafer commented on #124
/assign phamill

[2019-08-29 18:29] trshafer opened #156 "Serving Operator should provide an option that all ingress gateways are configured"
If a user creates a custom ingress gateway, istio may select a gateway at random (https://github.com/knative/serving/issues/5163#issuecomment-521815915). The operator should provide a way to ensure that the ingress gateway always works.

This relies a bit on https://github.com/knative/serving/issues/5172.

I believe this could work by montoring gateways and adjusting the config-istio to account fo

[2019-08-29 18:33] trshafer commented on #156
Another option is to not install the `knative-ingress-gateway` (https://github.com/knative/serving/blob/b7dfe3fdb80ffac7f7a05c20787400ce51aad2b1/config/202-gateway.yaml#L19) if one is already configured, . And use that gateway instead of the `knative-ingress-gateway`.

[2019-09-03 19:09] houshengbo opened #157 "Investigate the process of releasing serving-operator in operatorhub"
Find out the process to release serving-operator in operatorhub, and make it available there in-sync with the knative operator release.

[2019-09-04 21:03] duglin commented on #122
To add to this, we have 4 additional customizations that we'd need (I can open separate issues for each if needed):
1 - static data update of Kn config maps.  We modify the Kn configuration configMaps with static values - meaning we know them in advance of even starting the install process
2 - dynamic data update of Kn config maps. We modify the Kn configuaration configMaps with data that is speci

[2019-09-04 23:00] garron commented on #138
It feels like if we're going to support overrides (Gateways, ConfigMaps) in the CR spec, then that should be the primary way in which configuration for serving is updated. I'm inclined to think that the operator should be responsible for ensuring that the system is operating per it's configuration (combination of original yaml content and the overrides in the CR), even if that means overwriting ch

[2019-09-04 23:13] garron commented on #138
It's worth mentioning that when the gateway is overridden and then removed, in order to restore what would have been the default functionality, we need to make use of the original configuration to get the default value for selector. This isn't currently plumbed through to the transform functions (e.g. the one customizing the gateway).

[2019-09-05 04:23] chunlongliang-ibm opened #160 "The serving-operator incorrectly re-initialize knative-ingress-gateway configuration"
I edit the gateway yaml to enable TLS
           kubectl edit gateway -n knative-serving knative-ingress-gateway -o yaml
by adding
tls:
mode: SIMPLE
privateKey: /etc/istio/ingressgateway-certs/tls.key
serverCertificate: /etc/istio/ingressgateway-certs/tls.crt

However, after sometime, the gateway configuration is reinitialized and my update is removed.

Steps to recreate the problem:

1. Modify Ga

[2019-09-05 14:16] duglin commented on #122
5 - need to be able to have all of the images get pulled from private registries

[2019-09-05 18:43] garron commented on #160
In the case of overriding the selector on the Gateway, a means is provided as part of the KnativeServing custom resource spec. Would a similar capability be useful here? Or a means to indicate that the operator shouldn't alter the gateway?

It seems challenging to provide consistent/reliable behavior while supporting both manual overrides to the Gateway and overrides configured inside the KnativeS

[2019-09-06 11:57] nak3 opened #161 "support to tweak resource limits and requests for knative deployments"
limits and requests are defined like https://github.com/knative/serving-operator/blob/master/cmd/manager/kodata/knative-serving/0.8.0.yaml#L752-L758, but they are not configurable.

E.g - If we changed resources.limits by `kubectl edit deployment autoscaler -n knative-serving`, it is reverted with same reason of https://github.com/knative/serving-operator/issues/160.

[2019-09-06 15:39] garron commented on #138
I did some more poking around and the example provided in the description also happens across deleting and recreating the KnativeServing resource. If instead of just applying the second (clean/empty) spec in the example, you first "kubectl delete" the KnativeServing resource and the knative-serving namespace, when applying the empty spec to create a fresh KnativeServing, the config-logging ConfigM

[2019-09-06 18:28] garron commented on #138
One way to accomplish what I'm describing which doesn't involve too much in the way of changes to how manifestival works would be to add support for my_manifest.WithTransforms(...) which returns a new Manifest, which could then be used for the subsequent .ApplyAll(), checkDeployments, etc.

[2019-09-06 19:39] houshengbo commented on #157
We need to have two config maps: config-logging and config-observability, to be created for the serving operator.

How can we bundle or define them in the cluster service version yaml file(metadata)? @jcrossley3

[2019-09-06 20:26] houshengbo commented on #160
@chunlongliang-ibm
Is this config platform-specific, or your personal customization of your cluster?

You have a discussion going on with platform-specific configurations at https://github.com/knative/serving-operator/issues/122. There are multiple options as candidates to implement. Mutating webhook is one of them.

[2019-09-06 20:49] jcrossley3 commented on #148
@markusthoemmes it seems `pkg/logging` still expects a `ConfigMap` to exist or it fails. This seems harsh. How many logging libraries must our industry create before we're finally able to put forth some reasonable defaults with a convenient override mechanism? Why force users to engage the override mechanism? It's logging, ffs. :smiley:

[2019-09-06 21:49] evankanderson commented on #157
Do we need the config maps to exist, or do we want to support configuring them with the operator, but allow them to be empty and use defaults in those cases?

[2019-09-09 14:48] houshengbo commented on #4
We have already resolved it, by finishing the structural transition from controller-runtime to knative/pkg.

[2019-09-09 14:50] chunlongliang-ibm commented on #160
@houshengbo I deploy knative serving with serving-operator in openshift (OKD), and I also need TLS enabled (and I follow the instruction to modify gateway configuration in https://github.com/knative/docs/blob/master/docs/serving/using-a-tls-cert.md). I think it is OK for my use case if serving operator implementation has option to edit gateway configuration.

[2019-09-09 14:57] houshengbo commented on #157
@evankanderson This is exactly what I am struggling with. We would like to take advantage of the benefit to call ```sharedmain.MainWithConfig```, but it seems that we have to create ConfigMaps   of config-logging and config-observability. We can use the default values, but they have to exist.

[2019-09-09 15:09] markusthoemmes commented on #157
can/should we adjust `MainWithConfig` to use the default if the configMap cannot be found?

[2019-09-09 18:05] evankanderson commented on #157
It looks like you could probably adjust `GetLoggingConfig` to handle the "does not exist" case specially; it looks like monitoring doesn't do an initial fetch of the ConfigMap, so maybe only `config-logging` needs to exist?

https://github.com/knative/pkg/blob/master/injection/sharedmain/main.go#L78

[2019-09-09 21:29] trshafer commented on #124
/assign garron

[2019-09-10 16:34] jcrossley3 commented on #138
Thanks for the legwork on this, @garron. I consider this a bug. I'd prefer to fix the way `Transform` works in manifestival (return a new manifest rather than munging state) than add a new "non-broken" function. In the meantime, one (non-ideal) workaround that wouldn't require manifestival changes is to deep-copy the `manifest.Resources` prior to running `Transform` and reassign the copy after. Ha

[2019-09-10 16:56] garron opened #163 "KnativeServing operator should enforce the configuration defined in the CR"
This issue was split out of #138 to separate the internal operator state management (handled in that issue) from discussion on how the operator should go about ensuring that it's configuration is in effect.

Consensus at the operator working group meeting was that the KnativeServing CR should be the source of truth and this issue is intended to cover work in making that so.

[2019-09-10 16:57] garron commented on #138
I wrote up #163 to cover approaches in regards to enforcing the CR's configuration in order to focus this issue on maintaining appropriate state across deletion/creation of KnativeServing CR.

[2019-09-10 19:51] garron opened #164 "Make use of RBAC to prevent changes to operator-managed resources"
Per a discussion at the operator working group meeting today, the intention is for the operator to be the source of truth for the resources it manages. The suggestion was made to make use of RBAC to reduce the chances of manual changes to operator-managed resources.

[2019-09-10 21:00] #154 closed

[2019-09-11 15:56] trshafer commented on #163
/assign garron

[2019-09-16 19:58] #124 closed

[2019-09-17 14:12] yu2003w commented on #21
@trshafer For istio 1.2.4, in isitio-pilot pod, env `ISTIO_META_ISTIO_VERSION` is not set any more.
I'm afraid we couldn't get Istio version from pod.
Maybe we need to get it from image tag.
Any thoughts about this?

[2019-09-17 16:11] houshengbo commented on #160
@chunlongliang-ibm I guess I found a better solution to the case of knative-ingress-gateway config.

As you can see here:
https://github.com/knative/serving-operator/blob/master/config/crds/serving_v1alpha1_knativeserving_crd.yaml#L54

knative-ingress-gateway is valid property in the CRD, so when you apply the CR, you can config your knative-ingress-gateway in the CR before applying it. Then knati

[2019-09-18 09:46] yu2003w opened #171 "Support for PodSecurityPolicy"
If PodSecurityPolicy is enabled in k8s cluster, deployment autoscaler and activator will not be available without proper PSP.

Currently we could inject PSP when creating CR as below,
[code]
However, do we want to support PodSecurityPolicy by serving-operator?
If so, PSP related stuff could be created by serving-operator automatically. And use do not need to create them manually.
User only need to

[2019-10-09 19:15] houshengbo opened #187 "The creation of CRD should be made part of the operator installation"
We currently install CRD as prerequisite of the operator installation. This induced that the CRD yaml is not included in the operator release yaml. We should make sure the operator verifies the existence of the CRD and install the CRD automatically when we install the operator.

[2019-10-09 22:16] evankanderson commented on #187
One problem we've run into historically with CRD installation is that
installation of the CRD, which creates a new type in the apiserver, can
take longer to reconcile than it takes for kubectl to proceed with creating
the remaining items, including any custom objects of the newly defined type
(which then fail).

What will the installation process look like after this bundling?

On Wed, Oct 9, 2019

[2019-10-10 14:15] houshengbo commented on #187
@evankanderson I submitted a PR https://github.com/knative/serving-operator/pull/186. Before launching the controller, we verify the existence of the CRDs at the very beginning(only the existence in this PR. If we want to verify specific property, we can add later). If the CRDs cannot be available during a certain Timeout, operator quits.

[2019-10-10 14:38] jcrossley3 commented on #187
From what I can tell, the operator already gracefully handles the race condition, so I think it's fine to include the CRD as a part of installation without adding the 30 required files for #186. I don't think the operator should ever quit on its own. It should keep doing what it already does: rate-limited retries.

[2019-10-10 19:54] #187 closed

[2019-10-15 15:58] houshengbo opened #188 "Check whether the operator works correctly with the latest knative serving yaml"
We can either create a PR-based job or periodic job to generate the latest release yaml for knative serving from master, and run the integration tests, to see if the operator works correctly with the latest knative serving.

This can facilitate the future operator release as well, since we can track the knative serving yaml on a timely fashion.

[2019-10-22 14:57] k4leung4 commented on #188
Does our integration test run the serving integration test? If so, we might want to try vendoring in serving and generate the serving yaml from the vendored version.
If we don't then generate serving master would work.
My concern is that the stability of serving on master.

In general, I like this approach, just worried about the stability of the serving master. Periodic job should be better, at l

[2019-10-22 15:03] houshengbo commented on #188
So far I am thinking of running the integration tests of the operator only, so only generation of the serving master.

If the job passes, it means operator is ready to pick up the latest serving master to release.(should be beneficial during release)
If this job fails, it would be a good chance to look at the serving master about why it fails. It could be either the problem of operator or serving

[2019-10-22 15:04] k4leung4 commented on #188
sounds good to me.

[2019-10-22 15:04] houshengbo commented on #188
/assign @houshengbo

[2019-10-24 04:01] #188 closed

[2019-10-25 18:18] trshafer opened #192 "Operator should emit metrics"
I don't believe the operator has metrics that it emits around installing knative serving or receiving a new CRD.

[2019-10-25 19:10] trshafer commented on #192
/assign jihuin

[2019-10-28 18:16] jihuin commented on #192
Hi, I can help with it.

[2019-10-28 18:28] trshafer commented on #192
/assign jihuin

[2019-10-29 13:10] matzew opened #196 "Move"

[2019-10-29 13:21] matzew opened #197 "Inconsisten API group"
see discussions here: https://github.com/knative/eventing-operator/issues/18

## API Group

I'd propose that we change the `apiGroup` of the serving operator from `serving.knative.dev` to `operators.knative.dev`.

Motivation:
* cleaner separation of APIs (operator API vs core serving APIs)
* simplify RBAC when operator CRDs and serving CRDs are not in the same group
* eventing operator uses `opera

[2019-10-29 13:33] markusthoemmes commented on #197
I wholeheartedly agree. `operator.knative.dev` seems fine from my perspective. I don't have a strong opinion on the kind.

[2019-10-29 15:13] #197 closed

[2019-10-29 20:31] evankanderson commented on #197
+1 to `operator.knative.dev` based on trying to distinguish between _operator_ and _developer_ personas. (I had this gut feel, but credit to @mattmoor for articulating this more clearly.)

[2019-10-30 17:04] matzew opened #201 "checks version of deployment matches version go file"
Task:

Change the controller to look for the `serving.knative.dev/release` label in the manifest and use that to set the status.version in the CR.

Add a test for that too

[2019-10-30 18:00] houshengbo opened #202 "Manifestival can parse and load yamls with correct format, but unable to go through if there are files in bad format under the target directory"
I was trying to manually set the env variable

I created my own 0.9.0.yaml, and created a configmap loading it by
[code]

Then, this is the operator deployment yaml I used:
[code]
I expected that operator pod will read the env variable KO_DATA_PATH, and load the manifest from the mounted path "/etc/kodata/knative-serving". And it is true that this is something we surely can do.

However, I came ac

[2019-10-30 18:55] jcrossley3 commented on #202
Manifestival doesn't currently do any YAML validation. It assumes the YAML you pass it is valid, and it will attempt to load every single file beneath any path that is a directory.

[2019-11-04 17:45] houshengbo opened #207 "Document the log message of webhook pod, when using the yaml generated by the serving commit 143c72e47c3076e9d392c7c90c60f33da649554a"
I ran with a local kube on docker-desktop.
Try to install the operator of serving, with yaml generated by this commit https://github.com/knative/serving/commit/143c72e47c3076e9d392c7c90c60f33da649554a:

The webhook pod is unable to launch. The log of webhook pod is as below:

[code]

[2019-11-04 19:17] houshengbo commented on #207
The newly generated yaml has added the following section:

[code]

[2019-11-08 00:39] jcrossley3 opened #210 "Add support for controller custom certificate in KnativeServing CRD"
To enable the controller to trust self-signed certs from a registry, I'd like to propose the following addition to the `KnativeServing` CR:

[code]
The operator would then configure the controller's deployment per [these instructions](https://knative.dev/docs/serving/tag-resolution/). The other supported type would be `Secret`, both of which the user would be expected to create.

[2019-11-13 21:54] houshengbo commented on #207
@evankanderson is working on a PR for knative/pkg https://github.com/knative/pkg/pull/843, which targets to fix this issue.

[2019-11-14 00:31] houshengbo opened #221 "The Image transformation is still missing the support of private secret"
@garron As we discussed on slack, we probably need to verify if this support is missing for image transformation. If so, we will add it the same way as we did for the deployment transformation.

[2019-11-14 00:32] houshengbo commented on #221
/assign @garron

[2019-11-14 10:35] #210 closed

[2019-11-14 18:37] cardil opened #222 "Inconsistent API names"
I'd propose that we change the `kind` of the serving operator from `KnativeServing` to `Serving`.

Also, changing others derivatives. Below full change list:

 * kind: `KnativeServing` -> `Serving`
 * listKind: `KnativeServingList` -> `ServingList`
 * plural: `knativeservings` -> `servings`
 * singular: `knativeserving` -> `serving`
 * shortNames: `ks` -> `ks` (let's leave it as `ks`, same as in e

[2019-11-15 03:22] jcrossley3 commented on #222
I'm pretty sure we called it `Serving` at one time. We called it `Install` for a while, too. Here is some good discussion of some more naming tradeoffs: https://github.com/openshift-knative/knative-serving-operator/issues/17

[2019-11-15 10:17] cardil commented on #222
Latest discussion was in here: knative/eventing-operator#18 and settled down on shorter names

[2019-11-15 18:24] #192 closed

[2019-11-15 18:42] jihuin commented on #5
Hey, the operator now can export either Prometheus metrics or Stackdriver metrics based on configuration. Would you mind closing this issue?

[2019-11-15 18:54] #5 closed

[2019-11-17 15:19] duglin commented on #163
I was going to open an issue but I think this one might be related, if not let me know and I'll open a new one.

Overall: where should a user modify things if they want to change their Knative install?

Today, w/o the operator, if someone wants to do something like modify the template of the URL generated for their ksvc they would modify the config-network configMap's domainTemplate value. However

[2019-11-18 07:12] markusthoemmes commented on #163
I tend to disagree with this being a black and white decision.

If Knative Serving was installed without the operator, changes should definitely be made through ConfigMap edits. If Knative Serving was installed with the operator, changes should be made through the operator's API surface which is the KnativeServing CR currently.

Edits to the configuration are in the operator's persona, not the dev

[2019-11-18 09:47] matzew commented on #201
/assign @aliok

[2019-11-18 10:51] aliok commented on #201
I will do the same thing in https://github.com/knative/eventing-operator/pull/42

[2019-11-18 17:13] houshengbo commented on #222
@cardil I am OK with the alignment. However, after it is done, it will be a opportunity for us to think of the CR conversion when doing upgrade in future release.
How can we convert old CRs into new CRs?

[2019-11-18 17:21] markusthoemmes commented on #222
@houshengbo we‘ll need a reconciler for the old types that essentially create instances of the new ones based on the old ones. After a version of doing that we should be able to remove the old types and even one version later delete the code for them.

[2019-11-18 17:21] #201 closed

[2019-11-18 21:15] garron opened #226 "Serving operator interferes with serving updates to MutatingWebhookConfiguration"
When using the 0.10 serving operator, I've run into issues where after bringing up serving via the CR and trying to deploy a ksvc, the ksvc never comes up. The `Revision` stays at ready status=Unknown, reason=Deploying.

It appears that the reason that the revision isn't coming up is because the webhook isn't configured properly. After coming up, serving (the webhook controller, I believe) writes

[2019-11-19 01:00] jcrossley3 commented on #226
FWIW, I agree with you. The logic that determines whether a resource needs to be updated needs to be improved. At the time, I didn't even know there was a `Patch` command. ;)

[2019-11-19 03:48] duglin commented on #163
In theory I hear ya.... but in practice I keep thinking about situations where someone is trying to create a tool, or even just a simple bash script, that they want to hand to someone else and in order to make sure it "just works" means they have to code up all config changes twice and wrapper them with an if-statement each time.  That's why I'm leaning towards option 2 - it allows for people to o

[2019-11-19 04:27] jcrossley3 commented on #163
If the choice is between #1 and #2, I would choose #1. The policy that would enable 2a runs counter to the declarative (spec->status) nature of k8s.

[2019-11-19 04:48] duglin commented on #163
Can you elaborate on how it doesn't adhere to kube? With 2 the operator just sets the initial values for certain resources. I don't think kube has anything to say about whether it must then revert any changes on those resources. I think it's up to the semantics of the operator to decide that.

[2019-11-19 13:27] jcrossley3 commented on #163
Maybe "runs counter" and "doesn't adhere" are too strong. It's just that with 2a you still have two sources of truth, right? The spec for the initial defaults and whatever someone might manually change them to. Of course, we can make the semantics of the operator whatever we like, but I personally prefer the single source of truth in the first option you suggested.

[2019-11-19 15:22] duglin commented on #163
It might depend on our point of view, but for each resource there is only one source of truth. It is true that depending on the resource (and it's policy) its source of truth might be in a kn configMap or might be in the operator's CR/manifest. But, I'm hoping that for configMaps that we expect users to be able to edit, the source of truth would be in kn's configMaps not in the operator.

But obvi

[2019-11-19 15:40] markusthoemmes commented on #163
If you're using an operator, the surface area of what you can do should be encoded by the operator. If we encourage users to reach around we imo have failed to provide a good API for the human-operator and need to ask ourselves why we want to use an operator in the first place.

Allowing to reach-around also makes certain decisions around how to handle these config maps in an upgrade impossible.

[2019-11-19 23:39] garron commented on #221
For context, this is related to #124

[2019-11-20 17:26] garron commented on #221
I've taken a look at adding this and it's pretty straightforward. However, it's worth pointing out that this will not result in the queue proxy in the various namespaces that ksvcs are deployed to using the imagePullSecrets.

As far as I can tell, there might not be a practical way to get the queue proxy using imagePullSecrets without changes to serving. Because the queue proxy runs in various nam

[2019-11-20 17:28] garron commented on #221
CC: @mattmoor

[2019-11-20 20:55] garron commented on #221
I wrote up https://github.com/knative/serving/issues/6075 to track next steps around getting imagePullSecrets working with the queue proxy.

[2019-11-21 22:07] trshafer commented on #82
I think with the current configuration, this is no longer necessary.

[2019-11-21 22:07] #82 closed

[2019-11-23 00:55] garron commented on #226
It looks like the reason this didn't show up until 0.10 is that for 0.9, the MutatingWebhookConfiguration wasn't part of the release yaml manifest that the operator applies, but rather created by the webhook controller. It was added here: https://github.com/knative/serving/pull/5871.

I happen to like that the operator enforces the configuration is in the state it expects (so long as it doesn't br

[2019-11-23 01:01] garron commented on #226
On some level, I'm wondering if this is a bug in the operator or a bug in serving. It seems like a human running "kubectl apply" with the serving yaml multiple time might also have the ability to break the MutatingWebhookConfiguration, although I haven't tested that. Or maybe it's just that kubectl does more work to merge things.

[2019-11-23 01:01] mattmoor commented on #226
It happens to at least the secret as well.  I believe it will also happen with gateway resources when auto-TLS is enabled.

If the semantics aren’t three-way merge then folks are going to have loads of fun migrating to the Operator 😬

-M(obile)

[2019-11-25 22:49] garron commented on #226
To follow up on my last comment: I was not able to reproduce this using "kubectl apply" repeatedly. It appears to not attempt any changes to the webhook configuration in subsequent invocations of apply. Even if I manually tweak the MutatingWebhookConfiguration slightly to force kubectl to make changes, it undoes my changes using a patch and leaves the configuration that was put in by the webhook c

[2019-11-26 16:17] houshengbo commented on #226
@garron If the three-way merge gets mature in 1.16 of Kubernetes, will this issue be fixed automatically if we upgrade the Kube to the 1.16 version?
Or we still need to implement some patching mechanism with lastOperatorAppliedValue for the objects?

[2019-11-26 16:26] markusthoemmes commented on #226
As noted in the discussion in Slack: I'm leaning towards hot-fixing this at least for the WebhookConfiguration by configuring Manifestival to ignore a set list of types and use "Ensure exists" semantics for those types. We can potentially even extend that to GroupVersionKind + NamespacedName so we could ignore the colliding resources for now.

It sure is a workaround but feels enough to me to get

[2019-11-26 16:34] houshengbo commented on #226
Regarding "configuring Manifestival to ignore a set list of types", do we leave it an open option to users, or use the fixed rules implemented by Manifestival?

[2019-11-26 16:35] markusthoemmes commented on #226
@houshengbo It'd be down to the client of the library, so our operator can be very specific about when to apply the other strategy.

[2019-11-26 17:09] duglin commented on #226
Yep - whether it's knServing itself making the modifications or an admin of KnServing I think it's the same high-level issue...  where is the source of truth? If sometimes it's in Serving and sometimes it's in the operator then I think this issue will continue to pop up.

[2019-11-26 17:53] markusthoemmes commented on #226
I'd say the source is the operator's CRD. Knative munging it's own resources could be seen as a bug (I think it is) and we only chose this route for upgradeability reasons. We should eradicate all instances of the Knative controllers munging stuff in the release.yaml IMO.

[2019-11-26 18:25] garron commented on #226
@markusthoemmes If eradicating all instances of the Knative controllers munging stuff in the release.yamls is technically feasible, it seems like a great direction to go from the perspective of the operator. It keeps the ownership model clear and makes the behavior of the operator much easier to reason about (and hopefully document).

The [doc](https://docs.google.com/document/d/1O_kH2Bg2IVOed8ykY

[2019-11-26 18:51] markusthoemmes commented on #226
@garron right, but I feel like a configuration for Manifestival that allows that and then encoding the serving specific bits in the operator is the quickest way forward to unblock 0.10.

I think the operations WG should push for such a state in Knative Serving. Do we have a list of things were Serving currently munges with stuff from its own manifest?

[2019-11-26 19:17] duglin opened #234 "Upgrade docs"
I might have missed it in the docs but it's not clear to me what the upgrade process is for the operator. As a result, it's not clear to me if it is a "seamless" (no down-time) upgrade.

It would be nice if the docs mentioned
1 - how to do an upgrade
2 - what the impact would be (if any) during that process

[2019-12-03 03:08] #221 closed

[2019-12-05 23:32] trshafer opened #241 "Backfill tests for reconciler/knativeserving"
Currently the files in https://github.com/knative/serving-operator/tree/master/pkg/reconciler/knativeserving have no unit tests.

[2019-12-10 17:39] jihuin commented on #241
/assign @jihuin

[2019-12-10 18:24] cardil commented on #222
Closing this issue as Operations WG decided to left serving as it is now, and revert eventing to use `KnativeEventing`. Further work will be tracked under https://github.com/knative/eventing-operator/issues/18

[2019-12-10 18:24] #222 closed

[2019-12-10 23:04] zhruan commented on #156
/assign zhruan

[2019-12-10 23:21] #226 closed

[2019-12-11 02:02] jcrossley3 opened #245 "Overwrite resources when a strategic merge results in a conflict"
This essentially amounts to manifestival's `ApplyAll` behaving like `kubectl apply --overwrite=true` which makes sense for the operator since there's no human to resolve the conflict.

_Originally posted by @garron in https://github.com/knative/serving-operator/pull/243_

[2019-12-11 19:41] houshengbo commented on #207
@evankanderson has fixed it with a patch in manifestival package: https://github.com/jcrossley3/manifestival/commit/acb011d8dce378c23eadd735838a0aafd9b172b2

[2019-12-11 19:41] #207 closed

[2019-12-11 19:42] houshengbo commented on #202
I have fixed this issue with a patch in manifestival package: https://github.com/jcrossley3/manifestival/commit/33c10fadf140920b8a58dd9ffae7f22e66eabee9

[2019-12-11 19:42] #202 closed

[2020-01-14 22:26] jinglundong opened #253 "Building the Operator Image failed, when using gcr as the docker repo"
## What version of Knative?

## Expected Behavior

As a user who wants to install serving operator, I should be able to build the operator image using gcr as the docker repo. https://github.com/knative/serving-operator#building-the-operator-image

## Actual Behavior
Build the Operator Image guide doesn't seem to cover gcr well. I probably missed something. Some clarification can prevent this type

[2020-01-14 22:39] ZhiminXiang commented on #253
Can you try
[code]
and see if it works? (assuming you are under knative.dev/serving-operator directory)

[2020-01-15 19:14] houshengbo commented on #253
My GOPATH is /Users/username/go.
My path for the directory knative.dev is /Users/username/go/src/knative.dev/.
The project serving-operator is saved under the directory knative.dev.
I use KO_DOCKER_REPO=docker.io/<myname> as image repo.

Building image is fine. I suspect that you did not put the source code under the directory of knative.dev.

[2020-01-20 09:55] sxmon commented on #160
It seems that we can config the "selector" but not "servers" config of knative-ingress-gateway.

[2020-01-20 17:21] houshengbo opened #256 "Remove the resources of the older version, if a new version of knative is installed."
Currently, when we install the operator of an new version, in a cluster, where there is an older version operator, the resources of knative serving will be overwritten or brand-new installed, depending on whether the resource exists or not.

However, if the new version of knative serving remove resources compared to the old version, the operator should remove those resources.

Since all the resour

[2020-01-21 15:50] k4leung4 commented on #256
Are there scenarios where a resource is in a transition state, supported and not created in a given version?

for example
- resource created, supported in version A
- resource not created, marked as deprecated but still supported in version B
- resource no longer support supported in version C

[2020-01-21 19:33] trshafer opened #260 "Support godoc"
https://godoc.org/github.com/knative/serving-operator fails.

Then add the badge to the readme: [![GoDoc](https://godoc.org/github.com/knative/serving-operator?status.svg)](https://godoc.org/github.com/knative/serving-operator)

[2020-01-21 21:28] jinglundong commented on #253
Thanks for looking into this. It's working now.

I didn't configured my ko correctly. I should probably file a feature request to KO, asking for better error reporting.

I fixed this problem by reorganizing my local src directory and updating GOPATH.
https://github.com/google/ko#determining-supported-import-paths

[2020-01-21 21:28] #253 closed

[2020-01-22 08:43] aliok opened #261 "OLM metadata"
Prepare OLM metadata for this operator and submit it to OperatorHub

cc @houshengbo @jcrossley3

[2020-01-22 08:43] aliok commented on #261
/assign @aliok

[2020-01-22 11:52] aliok opened #262 "Tooling to generate OLM metadata"
Similar to eventing operator's https://github.com/knative/eventing-operator/issues/70

Related: https://github.com/knative/serving-operator/issues/261

[2020-01-22 11:52] aliok commented on #262
/assign @aliok

I can do this while doing https://github.com/knative/eventing-operator/issues/70

[2020-01-23 15:02] #261 closed

[2020-01-27 23:08] trshafer commented on #3
/assign cynocracy

[2020-01-28 17:44] aliok opened #271 "Bad alm-examples in 0.11.0 OLM metadata"
**Describe the bug**
`alm-examples` field in the OLM ClusterServiceVersion file is used to suggest example CRs for the CRDs defined in the file.
Somehow, there were some empty and duplicate resources got into that field, which doesn't make sense.

**Expected behavior**
Proper examples

**To Reproduce**
See https://github.com/knative/serving-operator/blob/b0a77f073ccba675ad3c4d80239f84c15a6f214b/de

[2020-01-29 16:39] houshengbo opened #274 "Installation of customized platform-specific Knative manifest"
**Problem**
Each version of operator installs one specific version of knative software, and it only bundles in the image one specific version of released manifest for knative. However, different cloud platform may customize the manifest of knative.  How can we use this operator to install customized manifest, without shipping new image?

**[Persona:](https://github.com/knative/eventing/blob/master

[2020-01-29 19:32] houshengbo opened #275 "Discussion: pros and cons of merging serving and eventing operators into one repository"
As it has been brought during the Serving API meeting today https://docs.google.com/document/d/1NC4klOdNaU-N-PsKLyXBqDKgNSHtxCDep29Ta2b5FK0, we need a broader discussion of this topic.

Please share your comments down below, regarding which option you would like to pick and why.
1. Keep serving and eventing operators separated as they are.
2. Merge serving and eventing operators into one operator,

[2020-01-29 20:21] houshengbo opened #276 "How to sync-up with the latest manifest of knative in a timely fashion"
**Problem**
This issue applies to eventing-operator as well. If knative has experienced some significant changes, which can lead to key resource deletion, but it has not released this version yet, how can operator catch the latest change and implement based this change in time?

For example, eventing dropped sources-controller https://github.com/knative/eventing/pull/2448, we know we need to add l

[2020-01-29 20:31] houshengbo opened #277 "Bring the URL/Filepath back to specify where the manifest of knative is"
I used to drop our option to configure where to load the manifest of knative, used to be here: https://github.com/knative/serving-operator/blob/ac0b67795238a05cd2dec22ae7aad13d8f28b7cc/pkg/controller/knativeserving/knativeserving_controller.go#L48, due to forgotten reasons, I am again leaning on to bring similar configuration option back to operator.

We used to load this argument, when launching

[2020-01-29 20:55] duglin commented on #275
2  - merge. Easier UX and management. Customers will want (in essence) a snapshot of "Knative". A consistent set of components that have been tested by us and packaged together.

[2020-01-29 21:27] trshafer commented on #275
2 - merge.

Agree with @duglin. I think eventing will become more expected when "installing knative" as eventing grows. The goal of a kubernetes operator is to automate what a human operator would do. If a human operator wants to update knative components, the human should only need to go to one place.

The dependency of serving from eventing, imo, means that the operator should be responsible for

[2020-01-29 21:41] salaboy commented on #275
I agree with @trshafer and @duglin I believe that a unified operator will simplify the user experience.

[2020-01-29 21:51] trshafer commented on #275
I should provide some thoughts on why we would not want to merge the eventing and serving operator.

Eventing and serving could have different release cadences. If the operator is _the_ way to install knative (everything), then there is a possibility that serving changes block a release of eventing. If eventing has their own operator then eventing has fewer dependencies on releasing.

[2020-01-29 22:07] houshengbo commented on #275
Based on the nature of one version of operator installs one version of knative software, I do not know how to do the PATCH release for serving or eventing only, after serving and eventing operators merge.

If serving release 0.13.1, but eventing does not have 0.13.1, does operator release the version 0.13.1 for 0.13.1 serving and 0.13.0 eventing?

Personally, I would like to see operator can catch

[2020-01-29 22:22] anniefu commented on #275
2 - merge. In addition to above previously mentioned reasons, because eventing is dependent on serving version, the eventing operator would always have to have built-in logic regarding serving CR and versions anyway, and that could get very hard to maintain quickly

For user's clarity, it would be best if the CRDs were merged too since it's important to be aware of the serving version when making

[2020-01-29 22:22] duglin commented on #275
w.r.t. eventing and serving have different patch releases... they should be the same. If eventing changes and needs 0.13.1 but serving doesn't, then serving's 0.13.1 release will look the same as 0.13.0.

vX.Y.Z should be a snapshot of the entire system at that point in time, even if a particular component didn't change from the previous version. That makes it very easy for a user to know what the

[2020-01-29 23:33] evankanderson commented on #275
2 - merge.

I'd prefer to see the operator handle the difficulties of potentially needing to combine e.g. a 0.13.1 serving and a 0.13.2 eventing release to get an "up to date" 0.13 release, rather than asking every human running a Kubernetes cluster to do that.

[2020-01-30 01:56] houshengbo commented on #275
@anniefu It is going to be a very complicated matrix, we have to maintain for each version of operator, able to install multiple(how many) versions of knative, in terms of single version testing and upgrade testing. It is a great feature support, but it is a lot of overhead as knative community has to maintain.

[2020-01-30 07:55] matzew commented on #275
wouldn't it be also worth a thought, that the operator might have it's own release cycle ?  That way wwould not artificially need to make a serving 0.13.0 to be a 0.13.1, when the code is _exactly_ the same

At some point ... IMO, it will not scale to release all the things in the same version schema...?

[2020-01-30 08:42] aliok commented on #275
From a code maintenance perspective, it makes sense. I have pretty much the same doubts above because of the versioning though.

If the CRDs is a single, 2 controllers will be touching a CR. I think this would increase the potential race conditions. ...unless the controllers are also merged.

I don't have a very strong opinion on single vs multiple CRDs though. We can make both approaches work. Ha

[2020-01-30 09:36] markusthoemmes commented on #277
I'm not sure we should bring this back. Why would a user specify a different release manifest? That sounds like a backdoor to bypass options the operator doesn't expose today.

Can you describe the specific use-case this would solve for you?

[2020-01-30 10:14] markusthoemmes commented on #275
I feel strongly against merging the CRDs. We could in theory provide one top-level CRD that includes both the KnativeServing and the KnativeEventing CRD but I don't see a ton of value in that. I'd imagine it to look like this:

[code]

The only thing it's controller would do is crank out the respective children and copy up the status of those children. Best of both worlds, but as I said: Not sure

[2020-01-30 15:38] houshengbo commented on #277
@markusthoemmes I also discussed with @jcrossley3 about what we can do to deal with the platform-specific configurations.

Internally, customization is done to the released yaml of knative, like "a custom set of configMaps and possibly resource definitions - e.g. modify the resource limits". I haven't got a full list of everything. It is difficult for me to say what operator may improve to meet th

[2020-01-30 15:40] #274 closed

[2020-01-30 16:48] k4leung4 opened #278 "Discussion on handling of configuration settings"
At the moment, the serving operator will reconcile config maps. As such, user changes to config maps directly will be reconciled away if those settings conflicts with the ones that the operator is aware of.

If the desire is to allow users to configure serving or eventing via the operator custom resource, should we be a simple pass through for all supported config maps?
Complications around being

[2020-01-31 01:28] duglin commented on #278
I think it should allow for all options. If we have an abstraction layer then that will probably mean a reduced set of options and that's just bound to annoy people, especially if the operator's reconciliation/upgrade overrides any edits to the config that the use makes. Normally users of this will be admins and so consistency between what the operator exposes and what core Knative exposes will on

[2020-01-31 02:10] garron commented on #278
I agree with the assessment that we don't have a good story for supporting both the managed platform operator and the user operator configuring aspects of the system. Right now, regardless of whether you're using the serving operator or not, it's challenging to have multiple sources of configuration.

Many unix tools use a hierarchy of configuration to deal with this, `git` for example:
- Has buil

[2020-01-31 16:24] jcrossley3 commented on #278
IMO, until knative supports multi-tenant installations, i.e. namespace-scoped instead of a single cluster-scoped knative, then distinguishing between platform and user operators is meaningless. Right now, they're one in the same.

Maybe a good trade-off is to relax the strict overwrite logic between the KS CR and the CM's. We can simply perform the 3-way strategic merge for CM's like we do for all

[2020-01-31 17:57] pmorie opened #279 "Operator support for HA deployments"
**Problem**
We are currently working on making knative controllers able to do [leader-elected HA](knative/pkg#1007)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
People using the operator to deploy serving (and possibly other parts of the project if we unify the operators), who are making decisions about how they want their knative deployment configured.

**Exit

[2020-01-31 19:11] jcrossley3 commented on #279
It's easy enough to conceive of a new field in the CR...
[code]
...but if all the operator does in response is set ConfigMap entries as described in the design doc, then we may as well use the existing *Spec.Config* field instead.

[2020-01-31 19:22] jcrossley3 commented on #279
Of course, if we make the controllers consume the `KnativeServing` CR for their leader-election configuration instead of a `ConfigMap`, that may be a good first step toward migrating other controller configuration from their `ConfigMaps` to the `KnativeServing` CR.

Maybe that's your master plan. :stuck_out_tongue_winking_eye:

[2020-01-31 20:16] pmorie commented on #279
I'd want to avoid serving depending on the operator's CR - it's the operator's job to make sure serving does what's in the CR.

I think the operator will wind up needing to do more than just manipulate configmaps, because there will likely be knobs that affect the resources deployed (replicas, anti-affinity etc) too.

[2020-01-31 20:17] pmorie commented on #279
As I write this I'm thinking maybe the operator API needs to be in the design doc for this feature track

[2020-02-02 18:00] jcrossley3 opened #280 "Extend image override logic to Daemonsets"
**Describe the bug**
The forthcoming knative-serving release will deploy the activator as a daemonset, but our image override logic only replaces images in `Deployments` currently.

**Expected behavior**
Images for Daemonsets should be subject to the same override logic as for Deployments

**To Reproduce**
Try overriding the activator images and see that its Daemonset image changes.

**Knative rel

[2020-02-03 05:07] savitaashture commented on #280
/assign

[2020-02-03 20:45] Cynocracy opened #282 "Principle of least privilege should be applied in operator (Cluster)Roles"
**Describe the bug**
Today the operator is by default granted all permissions on all resources clusterwide by a [blanket ClusterRole](https://github.com/knative/serving-operator/blob/master/config/role.yaml#L60)

**Expected behavior**
Only specifically those permissions which are necessary in order to create a functional Knative serving setup should be added, using [escalate and/or bind](https://k

[2020-02-03 22:07] jcrossley3 commented on #282
The primary reason the operator is given `cluster-admin` privs is because the knative-serving release manifest employs aggregated clusterroles. At the time, this feature required `cluster-admin` privs. I'm not sure if that's still the case or not. /cc @pmorie

[2020-02-04 01:04] Cynocracy commented on #282
Thanks for the context! That makes sense.

It looks like we may be able to have the Operator config set up the aggregated clusterrole, and grant the Operator service account `bind` on that role.

[2020-02-04 11:30] aliok commented on #276
We need some CI magic to have nightly releases then?

[2020-02-04 14:52] pmorie commented on #282
hi @Cynocracy, unfortunately you need */* permissions in order to use cluster role aggregation:

https://github.com/kubernetes/kubernetes/blob/3b618af0d435628feedf06f97bd1c69340d07d95/pkg/registry/rbac/clusterrole/policybased/storage.go#L79-L83

[2020-02-04 15:56] whitleykeith opened #283 "Installing KnativeServing CR in namespace not named knative-serving doesn't configure the APIService correctly"
**Describe the bug**
When installing the KnativeServing CR in namespace "foo", the operator also configures the APIService which always defaults to look for the knative-serving/autoscaler service. The autoscaler is not discoverable at that addresss

**Expected behavior**
The APIService is configured to look for foo/autoscaler, assuming "foo" is the namespace the KnativeServing CR has been installe

[2020-02-04 17:42] Cynocracy commented on #282
Thanks for the link, I'm still very new to the space so it's quite helpful for me :)

For now, I'll start a PR adding a comment to the `*/*` permission. It'd be nice if we can get some kind of fix upstream that removes the req, but at least with the current setup, I found the very explicit list followed by `*/*` to be quite confusing.

[2020-02-04 19:52] pmorie commented on #275
During the WG meeting today, I took an AI to write up a feature track for this so we can understand exactly what is being proposed before moving forward; hope to have that completed in the next couple of days.

[2020-02-05 02:03] Cynocracy commented on #282
Circling back to this, a couple of different things:

@pmorie it looks like https://github.com/kubernetes/kubernetes/blob/3b618af0d435628feedf06f97bd1c69340d07d95/pkg/registry/rbac/clusterrole/policybased/storage.go#L69 early-exits that function when the user has `escalate` on roles, so theoretically we could give the Operator the power to grant all powers, but not directly grant it everything (wh

[2020-02-05 08:00] aliok commented on #283
IMO, this is more of a question if we would like to support installing Knative in any namespace.
All the Knative documentation I can see instructs users to install things on specific namespaces.

We should do one of these:

Option A:
- We fix this problem
- We add some tests that install Knative into other namespaces and make sure things work fine
- We announce that we support this scenario

Optio

[2020-02-05 08:08] aliok commented on #283
@markusthoemmes told me that Knative serving components should work fine in any namespace as they use `system.Namespace()`.
So, let's fix this bug and make sure we have some tests for installing Knative into other namespaces.

[2020-02-05 16:59] matzew commented on #275
While I support the merge of the operators - I'd not want the CRs for serving/eventing to merge ...

[2020-02-05 18:58] Cynocracy commented on #282
/assign Cynocracy

[2020-02-05 19:53] jcrossley3 commented on #282
This needs to be addressed upstream. The embedded manifest is taken directly from upstream's official release, and the only edits we should ever make to our embedded copy are those we know will be included in upstream's next release (ideally referencing an upstream PR). Otherwise, we complicate our upgrade process (even more than it already is) by having to post process the official manifest for e

[2020-02-05 21:23] Cynocracy commented on #282
Ack, I think the change to grant `escalate` is a little less invasive, and still an improvement (in order to use the Operator as a confused deputy, you would need it to create a role and rolebinding, whereas today you merely need to get it to apply something for you).

Do you agree? If so, I can go ahead and start testing out that change.

[2020-02-06 12:49] #280 closed

[2020-02-06 16:44] houshengbo opened #287 "Upgrade tests to be added into this repo to test the upgrade of operator with knative serving"
**Describe the bug**
This repo does not have test suit dedicated to upgrade.

**Expected behavior**
The ultimate goal is to run the upgrade tests in serving, tagged now with preupgrade, postupgrade, etc here in this operator repo. The current prow job named `pull-knative-serving-operator-integration-tests-on-latest-serving` can be converted to upgrade tests.

**To Reproduce**
Steps to reproduce th

[2020-02-06 20:32] #283 closed

[2020-02-07 18:06] #287 closed

[2020-02-12 10:55] aliok opened #292 "Support reading KubeConfig from KUBECONFIG env var"
Same issue as eventing one, https://github.com/knative/eventing-operator/issues/99

[2020-02-12 22:34] k4leung4 commented on #275
@pmorie Any update on the feature track?

thanks

[2020-02-13 15:34] #292 closed

[2020-02-14 15:10] #271 closed

[2020-02-14 15:51] houshengbo commented on #276
https://github.com/knative/eventing-operator/pull/108
This PR can be used as reference. We can create a similar one, pulling the nightly release can pushing as a new PR for review. We can run it every day or week.

[2020-02-15 20:56] aliok commented on #157
@houshengbo We can close this ticket I think.
We already have the operators in operator hub.
See the comment https://github.com/knative/eventing-operator/issues/70#issuecomment-586640440 and https://github.com/knative/serving-operator/issues/262

[2020-02-15 21:20] aliok commented on #161
One way of supporting this would be https://github.com/knative/serving-operator/issues/277

[2020-02-17 08:07] aliok opened #298 "e2e test script problems when running locally"
Original ticket for eventing: https://github.com/knative/eventing-operator/issues/107

There are the same issues, but I want to implement the improvements in serving operator first as there's more people active here.

[2020-02-18 05:31] aliok commented on #275
Feature track doc is here: https://docs.google.com/document/d/1wT6clZg_zuihtRv4dhOPtxkJTtxodV1Pm00I08KMrjI/edit#heading=h.n8a530nnrb

@k4leung4

[2020-02-18 06:24] evankanderson opened #301 "Support decoupling operator and installed software versions"
**Problem**
Today, the serving yaml is packaged and read from the `.kodata` file in the serving-operator image. This has several negative consequences:
1. It's hard to package an operator that installs nightly
2. If serving needs a cherry-pick or patch, the serving operator needs to cut a new release, too.
3. We don't have a good record of what we previously installed in the cluster.

Possibly-rel

[2020-02-18 06:48] evankanderson commented on #301
Proposal: https://docs.google.com/document/d/1ehd5Yx4aSottuv7FYW4JeplNULJCs7nnDfy29y3NH8k/edit#

[2020-02-18 12:18] Fabian-K opened #302 "Support for advanced k8s resource overlays for configuration"
**Problem**
The operator currently supports limited customization options via the crd (e.g. ingress selectors, registry credentials etc). For often-used customizations, It´s great if they are part of the crd. There are however many more customizations that sometimes require adjustment ( e.g. #160 #161 ). Adding all possibilities to the crd might not be an good idea.

The istio-operator supports so

[2020-02-21 21:32] jcrossley3 opened #307 "The operator should probably never delete CRD's"
**Problem**
When the `KnativeServing` CR is deleted, the operator deletes all the resources in its manifests, including all the `*.knative.dev` CRD's it originally installed. As long as no instances of the CRD's exist, that's fine. But if they do exist, they will be deleted right along with their associated CRD's; a resource can't exist without its type.

This certainly violates "the principle of

[2020-02-21 21:36] jcrossley3 commented on #307
/assign

[2020-02-24 14:47] #307 closed

[2020-02-26 21:57] houshengbo opened #310 "Run the upgrade and downgrade tests in serving repo"
**Describe the bug**
Operator installs the knative operand, but it does not run the upgrade and downgrade tests available for knative.

**Expected behavior**
In the upgrade prow job, we need to add the upgrade and downgrade tests, verifying the knative serving.

**To Reproduce**
Steps to reproduce the behavior.
Submit a PR. Upgrade prow job is kicked off.

**Knative release version**
HEAD

**Addit

[2020-03-02 11:25] aliok commented on #160
https://github.com/knative/serving-operator/issues/302 might be the solution for this ticket.

[2020-03-02 11:27] aliok commented on #277
Might be related: https://github.com/knative/serving-operator/issues/302

[2020-03-02 11:51] aliok commented on #276
+1 on this one.
I can work on this.

@mattmoor how is the setup for PRs like https://github.com/knative/eventing-operator/pull/108 ?

[2020-03-03 06:34] aliok opened #317 "E2E upgrade tests (and maybe more tests) cannot be run locally"
**Describe the bug**
As noted in https://github.com/knative/serving-operator/pull/300, e2e upgrade tests cannot be run locally.

**Expected behavior**
Should be runing locally fine.

**Additional context**
There were errors around Istio. I don't have the log messages handy.

[2020-03-03 06:50] #310 closed

[2020-03-03 17:54] pmorie opened #320 "Initial API fields for HA control plane"
**Problem**

Now that leader election has landed in 0.13, we should make the operator deploy an HA configuration by default.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**

Users of the operator

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
Simple

[2020-03-03 18:35] evankanderson commented on #278
See also #301, which suggests a way to perform diffs between old and new manifest rather than doing an "apply" of the new config over the user's `kubectl apply` settings.

[2020-03-03 18:37] evankanderson commented on #320
We had a discussion in the WG meeting on 3/3 that we don't want to double the resources for Minikube, so me may need some sort of controllable option and/or auto-sizing (i.e. "turn off HA if there is only 1 node in the cluster").

[2020-03-03 18:58] jcrossley3 commented on #278
Have we answered this fundamental question yet: how should knative be configured?
1. a single custom resource
2. multiple configmaps
3. all of the above

I think both the operations and serving-api WG's need to agree on that answer before we talk implementation details.

And if 3 is the answer, we need to agree on a conflict resolution strategy.

[2020-03-06 20:05] kramvan1 opened #329 "Allow CR to handle manifest patches"
**Problem**

The custom resource (CR) for the knative operators should allow for tweaking all the resources deployed at the Kuberneters spec level. For example, allow for Affinity, Envs, HPA, Image pull policy, Annotations, Replicas, probes (readiness, liveness, startup), LifeCycle, Priority class, Tolerations, Request sizes...

For example, there are cases where the default deployment needs to be

[2020-03-09 16:23] trshafer opened #335 "KnativeServing reconciler should use +genreconciler"
+genreconciler was added to pkg (https://github.com/knative/pkg/issues/1098) and is now used in knative/serving reconcilers. https://github.com/knative/serving-operator/blob/master/pkg/reconciler/knativeserving/knativeserving_controller.go should use the generated knativeserving reconciler.

[2020-03-10 08:30] aliok opened #336 "`KnativeServing` api files live in wrong directory"
**Problem**
`KnativeServing` api files live in wrong directory.

Its group is `operator.knative.dev` but the api files are in `pkg/apis/serving/..`.
They should be in `pkg/apis/operator/..`

This is a better practice and some tools like `operator-sdk` is expecting that kind of consistent directory tree when generating some metadata. See https://github.com/operator-framework/operator-sdk/pull/2511#

[2020-03-10 11:21] aliok commented on #329
Related: https://github.com/knative/serving-operator/issues/302

[2020-03-10 13:21] aliok commented on #157
/close

[2020-03-10 13:21] #157 closed

[2020-03-10 15:18] pmorie commented on #320
I'm renaming this issue to be for the initial API changes that allow you to specify an HA installation.

[2020-03-10 15:40] pmorie commented on #320
After discussion with @jcrossley3, i offer the following proposal:

[code]

[2020-03-10 20:22] trshafer commented on #335
/assign trshafer

[2020-03-11 16:39] houshengbo opened #343 "LATEST_SERVING_RELEASE_VERSION should be retrived automatucally, based on the operand version the old operator install in prow"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior.

**Knative release version**
The Knative version, where you find this issue.

**Additional context**
Add any other context about the problem here such as proposed priority

[2020-03-11 16:42] houshengbo opened #344 "Why the old replicaset.apps still exist after upgrade"
When we check the old resources by the label, after upgrading operator.
This is the message prompted in the end:
[code]

[2020-03-11 22:03] #320 closed

[2020-03-13 00:57] pmorie commented on #320
part of https://github.com/knative/pkg/issues/1007

[2020-03-13 21:13] Cynocracy opened #361 "Unit tests for knativeserving_controller"
# Issue Description

## Expected Behavior
knativeserving_controller has unit tests for quick iterative development.
## Actual Behavior
Only integration tests exist.

[2020-03-16 23:14] Cynocracy commented on #361
/assign Cynocracy

[2020-03-23 22:08] #161 closed

[2020-03-26 19:28] AceHack opened #378 "When will this support 13.2?"
What the average lag time from release?

[2020-03-27 20:38] Cynocracy commented on #378
There's currently a proposal to have this release unbundled from the operand.

https://docs.google.com/document/d/1ehd5Yx4aSottuv7FYW4JeplNULJCs7nnDfy29y3NH8k/edit

I think that's the best way to avoid needing to keep up with the Operand 1:1 with releases.
Today I don't know if we have any process in place other than manual releases. I'll ask around.

[2020-03-27 21:42] houshengbo commented on #378
@AceHack Based on the historic record, we usually need one or two weeks after serving or eventing officially cuts a minor release, since we need to verify all the tests for latest manifest.

For to catch up the patch release, operator usually needs one week, because the auto-release cuts patch release every Tue.

[2020-03-30 17:26] #282 closed

[2020-03-31 16:50] AceHack opened #384 "Security: Please set pod Security Context on all Pods"
Many companies have a security requirement in place that all pods must not run as root and set the run as user.  Please set this (Or allow it to be set) on all pods.  This would mean either adding it yourself or adding it to any CRDs that end up creating pods so the user can set it.  Note this is at the pod level, not the container level.  I will be creating a separate feature request for the cont

[2020-03-31 16:58] AceHack opened #385 "Security: Please set container Security Context on all Containers"
Many companies have a security requirement in place that all containers must have a read-only file system and not allow privileged escalation.  Please set this (Or allow it to be set) on all containers.  This would mean either adding it yourself or adding it to any CRDs that end up creating containers so the user can set it.  Note this is at the container level, not the pod level.  I have created

[2020-03-31 17:20] AceHack opened #386 "Operations: Please allow setting nodeSelector, tolerations, and affinity on all Pods"
Most companies with complex enough kubernetes deployments that have multiple different node groups require some sort of topology selection so pods will run on the correct group of nodes.  Please allow setting nodeSelector, tolerations, and affinity on all Pods to accomplish this.  This includes adding it to any CRDs that create pods so these values are settable.

https://kubernetes.io/docs/concept

[2020-04-02 14:48] houshengbo commented on #378
https://github.com/knative/serving-operator/releases/tag/v0.13.2
The artifacts were released this Monday.

[2020-04-02 14:48] #378 closed

[2020-04-04 21:10] aliok commented on #279
@pmorie
Can we resolve this ticket as following PRs are all merged, or is there anything missing?

https://github.com/knative/serving-operator/pull/321
https://github.com/knative/serving-operator/pull/326
https://github.com/knative/serving-operator/pull/337

[2020-04-07 17:08] evankanderson commented on #384
We're going to track this in https://github.com/knative-sandbox/operator/issues/3 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:08] #384 closed

[2020-04-07 17:10] evankanderson commented on #386
We're going to track this in https://github.com/knative-sandbox/operator/issues/5 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:10] #386 closed

[2020-04-07 17:12] evankanderson commented on #385
We're going to track this in https://github.com/knative-sandbox/operator/issues/4 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:12] #385 closed

[2020-04-09 20:09] #335 closed

[2020-04-10 10:57] aliok commented on #336
/close

In the new operator I see this is fixed. https://github.com/knative-sandbox/operator

[2020-04-10 10:57] #336 closed

[2020-04-13 04:45] jihuin opened #397 "Reject ksvc creation during install process"
**Repro steps**
1. Install knativeserving CR
2. Immediately deploy a service before the knative serving components are ready

**Expected behavior**
The ksvc creation is either 1) rejected or 2) completed and the ksvc is ready to serve.

**Actual behavior**
I saw the message `service.serving.knative.dev/helloworld-go created` without error or warning after I deployed the service `helloworld-go`, bu

[2020-04-13 04:50] houshengbo commented on #397
I would suggest you create the ksvc after you see the CR is ready.
Have you ever tried installing serving without operator, and install the ksvc before all the serving pods are ready?

[2020-04-13 05:38] jihuin commented on #397
I have tried installing serving without operator and deployed ksvc immediately before the serving pods were ready. The ksvc was also stuck at `RevisionMissing`.  So this is not specific to the operator installation.

I agree that the best practice is to deploy the ksvc after the serving pods are ready, but it would be great if we can avoid any confusion around this early ksvc deploying scenario. W

[2020-04-13 10:57] markusthoemmes commented on #397
Hm, is this a bug? Modulo defaulting and whatnot from the webhook, we should absolutely be able to create a KSVC before all the knative serving component are up.

Rather than trying to enforce an order of operations, I'd rather we look at a potential bug in knative-serving here.

/cc @mattmoor

[2020-04-14 19:55] Cynocracy opened #400 "Remove custom resource cleanup logic."
**Problem**
Today, every time a resource needs to be deleted from an older minor version X, the Operator is updated with custom code in release X+1 which cleans up those resources.

Generally, so long as the Operator is only upgraded by one minor version at a time, we can remove the code after a minor release. However due to the existence of https://github.com/knative/serving-operator/issues/3, we

[2020-04-14 20:48] jcrossley3 commented on #3
I'm curious why we want to fail an upgrade to N+2 or greater. What's the harm in doing so? Just trying to be clear about the justification for this issue.

[2020-04-14 20:51] Cynocracy commented on #397
Regardless of whether this is a bug, do we want to validate against this race while it exists?

[2020-04-14 20:54] mattmoor commented on #397
I wouldn't work around this without at least an issue downstream tracking this, with a repro.

[2020-04-14 20:54] mattmoor commented on #397
That should include a pointer to any workarounds introduced so that they can be removed once fixed.

[2020-04-14 20:58] Cynocracy commented on #397
https://github.com/knative/serving/issues/7576 includes a repro (or at least a human readable description of one). Essentially it's
  * create a cluster
  * ko apply -f config/
  * kubectl create a ksvc
  * boom, you're stuck

Does adding a TODO: unwind when https://github.com/knative/serving/issues/7576 is resolved (and the back-edge in the serving issue) sound reasonable to close this out?

[2020-04-14 21:41] mattmoor commented on #397
I think the main thing for me was just making sure we had tracking for the issue being worked around, so yeah I think so.  thanks, Jon.

[2020-04-14 21:43] Cynocracy commented on #397
No problem, Matt, thanks for your comments, it's nice to know that this is an unintended edge-case we intend to fix :)

[2020-04-14 21:54] Cynocracy commented on #400
Some comments from slack:
* Why Job definitions and not vendor in the go code?
* Could we have a single image that knows how to do the upgrades in general?
* Does a rolling window of X minor versions supported by operator Y alleviate the concerns of 'one job to upgrade them all'?

Agree these are worth thinking about, so copying them here.

[2020-04-14 23:59] Cynocracy commented on #400
What about a single k8s Job per component that takes arguments of “to” (and maybe “from”) release, and within the Job code there’s a framework (like sharedinformer) which registers a map[string]func(…) error, and then users write a func(…) error and install it into the map.

After some discussion in the slack, we've converged on this pattern for how to write a package which can handle safe upgrade

[2020-04-15 00:08] Cynocracy commented on #3
Personally, I don't think we should fail, but rather follow an upgrade path that's been tested.

I don't think we should allow customers using the Operator to take upgrade paths that are untested and thus potentially unsafe.

[2020-04-15 18:05] trshafer commented on #3
It was inspired from the 0.6 -> 0.9 (I think) upgrade. It was a migration from clusterroute to route IIRF. Users needed to migrate from 0.6 -> 0.7 or 0.8 before going to 0.9.

[2020-04-15 21:23] jcrossley3 commented on #3
I'd like to be able to say something like this: for any version X of the operator, we'll support upgrades from the last N releases of the operand. I think serving mandates N=4 (where is that doc'd, btw?) but that would mean the 0.9 operator would've needed to be able to update a 0.6 operand to 0.8 before installing 0.9. Is that reasonable?

[2020-04-16 18:33] trshafer commented on #3
0.6->.8 and then .9 is probably fine. or if jumping from 0.6 -> 0.12 then have 0.6 -> 0.8 -> 0.10 -> 0.12.

[2020-04-16 18:35] markusthoemmes commented on #3
fwiw: jumps by two are tested nowhere. Serving only tests upgrading from N-1.

[2020-04-16 19:24] houshengbo commented on #156
I would say we are seeking for the support of multiple ingresses, instead of the only istio.

[2020-04-16 19:28] houshengbo commented on #156
Some discussions in the community:

[code]

[2020-04-16 20:06] houshengbo commented on #329
We would like implement on a use case based approach, instead of offering one powerful way to override everything.
Another related topic: https://github.com/knative-sandbox/operator/issues/5

[2020-04-20 18:34] AceHack opened #406 "Broker ingress constantly scaled up and down in 0.14.0"
**Describe the bug**
About every 30 seconds broker ingress is scaled from 1 to 2 and then about 30 seconds later it's scaled from 2 to 1 over and over in a loop.  Currently, there are no brokers in the system.

 **Expected behavior**
A more stable broker ingress scaling.

 **To Reproduce**
install eventing 0.14.0.

 **Knative release version**
0.14.0

[2020-04-20 18:34] AceHack commented on #406
Moved from eventing
https://github.com/knative/eventing/issues/3019

[2020-04-20 18:36] AceHack commented on #406
Sorry wrong operator, I'll move again :)

[2020-04-20 18:36] #406 closed

[2020-04-24 10:16] nailushapotnuru opened #409 "Deploying serving-operator on Openshift4.3"
When deploying serving-operator on Openshift 4.3, all the pods are failing with pod initialization error with status as 0/2 Init:crashloopbackofferror.
Pre-req: Installed Istio using helm on OCP 4.3.
![image](https://user-images.githubusercontent.com/28943483/80201677-1a929900-8642-11ea-955f-e1afb562930f.png)
oc describe pod podname
![image](https://user-images.githubusercontent.com/28943483/80201

[2020-04-24 10:29] markusthoemmes commented on #409
On Openshift, you might want to take a look at the Serverless operator that brings Knative pre-configured. See https://docs.openshift.com/container-platform/4.3/serverless/serverless-getting-started.html for more information.

Knative Serving otherwise isn't regularly build and tested on Openshift so there might be dragons.

That being said, the logs you shared don't contain the actual errors. Can

[2020-04-24 11:39] nailushapotnuru commented on #409
Please find the pod logs below:

![image](https://user-images.githubusercontent.com/28943483/80208672-5895ba00-864e-11ea-8088-ec137ff51bc2.png)

[cloud-user@ron5-bastion serving-operator]$ oc logs activator-7b4ccf8cc4-hmgtp
Error from server (BadRequest): a container name must be specified for pod activator-7b4ccf8cc4-hmgtp, choose one of: [activator istio-proxy] or one of the init containers: [is

[2020-04-30 17:07] houshengbo commented on #301
I have the following questions regarding this feature:

**How does the operator validate the customized manifest, as a certain or a few supported versions?**

**As the manifest of serving have been split into serving-crds, serving-core, serving-hpa, net-istio, do we allow all of them customizable at the same time? If not, which ones do we allow for partial customization? How to do partial customiz

[2020-04-30 17:07] evankanderson commented on #301
(Moving this content to https://github.com/knative-sandbox/operator/issues/56)

/close

[2020-04-30 17:07] #301 closed

[2020-05-11 22:57] #397 closed